<div id="my-registrations-section" class="row">
  <div id="gs-form">
    <!-- Content -->
    <div id="gtog-content" class="tab-content">
      <div id="tab">
        <div id="gtog-table"> <!-- start non-mobile view -->
          <table  id="gtog" class="table table-striped gtog tablesorter">
            <thead>
            <tr>
              <th>Course</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Location</th>
              <th>Type</th>
              <th>Status</th>
            </tr>
            </thead>
            <% for (var j = 0; j < registrations.length; j++) { %>
            <% var registrationDetails = registrations[j];
               var startDate = null;
               var endDate = null;
               var status = null;
               if (registrationDetails.startDate){
                 startDate = new Date(registrationDetails.startDate)
               }
               if (registrationDetails.endDate){
                 endDate = new Date(registrationDetails.endDate)
               }
               if (startDate && endDate){
                 status = getSessionStatus(startDate, endDate)
               }
            %>
            <tr>
              <td><strong><a href='/courses/<%=registrationDetails.courseNo %>'><%=registrationDetails.courseTitle%></a></strong></td>
              <td><%= startDate.toLocaleDateString()%></td>
              <td><%= endDate.toLocaleDateString()%></td>
              <td>
                <% if (registrationDetails.address) {
                    if (registrationDetails.address.city) {%>
                      <%= registrationDetails.address.city%>
                  <% if (registrationDetails.address.state) {%>
                , <%= registrationDetails.address.state%>
                <%  }
                  }
                if((typeof(registrationDetails.address.address1)!='undefined') && typeof(registrationDetails.address.address2)!='undefined') {%>
                  <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= registrationDetails.address.city%>, <%= registrationDetails.address.state%>' data-address='<%= registrationDetails.address.address1 +', '+ registrationDetails.address.address2 +', '%> <%= registrationDetails.address.city  +', '%> <%= registrationDetails.address.state %> <%= registrationDetails.address.postalCode %>'></span>
                  <% } else if(typeof(registrationDetails.address.address1)!='undefined') {%>
                  <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= registrationDetails.address.city%>, <%= registrationDetails.address.state%>' data-address='<%= registrationDetails.address.address1 +', '%> <%= registrationDetails.address.city +', '%> <%= registrationDetails.address.state %> <%= registrationDetails.address.postalCode %>'></span>
                  <% } else if(typeof(registrationDetails.address.address2)!= 'undefined') {%>
                  <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= registrationDetails.address.city%>, <%= registrationDetails.address.state%>' data-address='<%= registrationDetails.address.address2 +', '%> <%= registrationDetails.address.city +', '%> <%= registrationDetails.address.state %> <%= registrationDetails.address.postalCode %>'></span>
                  <% } else if (typeof(registrationDetails.address.city) != 'undefined') {%>
                  <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= registrationDetails.address.city%>, <%= registrationDetails.address.state%>' data-address='<%= registrationDetails.address.city +', '%> <%= registrationDetails.address.state %> <%= registrationDetails.address.postalCode %>'></span>
                  <%}
                }%>
              </td>
              <td><%=registrationDetails.type%></td>
              <td>
                <%if (status=="pending"){%>
                <img src="../../images/r_pending.png" alt="pending">
                <%} else if (status=="in progress") {%>
                <img src="../../images/r_in_progress.png" alt="in progress">
                <%} else if (status=="ended") {%>
                <img src="../../images/r_ended.png" alt="ended">
                <%}%>
              </td>
            </tr>
            <% } %>
          </table>
          <div id="statusKey" style="float: right;">
            <span><img src="../../images/r_pending.png" alt="pending"> pending </span>
            <span><img src="../../images/r_in_progress.png" alt="in progress"> in progress </span>
            <span><img src="../../images/r_ended.png" alt="ended"> ended </span>
          </div>
        </div> <!--END G2G Classes -->
      </div>
    </div><!--End of Content -->
  </div>
</div>
