<!--nutch_noindex-->

<!--  Top Nav -->
<% include ../partials/nav_top %>
<script type="text/javascript" src="/javascripts/manage/user/header-login.js"></script>
<link rel="stylesheet" href="/stylesheets/header-login.css" />
<!--  END Top Nav -->

<!--  HEADER -->
<div id="header" class="container">
	<div class="row header clearfix">
		<header>
				<div class="col-lg-4 col-md-4 col-sm-7 col-xs-7 non-mobile ">
					<a id="gs-logo" href="/">
						<img alt="Graduate School" src="/images/logo.png" class="logo logo-fix-mid">
					</a>
				</div>
				<div class="col-lg-9 col-md-8 col-sm-9 col-xs-9 header-mob mobile ">
					<a id="gs-logo-mob" href="/">
						<img alt="Graduate School" src="/images/logo-mobile.png" class="logo-mob">
					</a>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-5 col-xs-5 non-mobile">
					<div class="spacer60"></div>
					<div class="row">
						<div class="col-lg-8 col-md-8 mob-rem register">
							<div class="header-menu">
								<% if (typeof userFirstName === 'string' && userFirstName != ""){%>
									<div class="inline-block"><span class="inline-block header-menu-text">Welcome, <%=userFirstName%>!</span></div>
								<% } else { %>
									<div class="inline-block"><a id="loginNonMob" href="#" data-toggle="popover" data-placement="bottom" data-container="body" type="button" data-html="true" ><span class="inline-block"></span><span class="inline-block header-menu-text">Login</span></a></div>
								<% } %>
								<div class="inline-block"><a id="gsaNonMob" href="/content/gsa"><span class="inline-block"><img src="/images/gsa-contract-icon.png" alt="" /></span><span class="inline-block header-menu-text">Contract<br>Holder</span></a></div>
								<div class="inline-block"><a id="g2gNonMob" href="/content/gtog"><span class="inline-block"><img src="/images/gtg-icon.jpg" alt="" /></span><span class="inline-block header-menu-text">Guaranteed<br>To Go</span></a></div>
								<div class="inline-block"><a id="registerbuttonNonMob" href="/search"><span class="inline-block"><img src="/images/register-icon.png" alt="" /></span><span class="inline-block">Register</span></a></div>
							</div>
						</div>

						<!-- This is the content of the popover -->
						<div id="header-login-content" class="hide">
							<div id="gs-alert-error" class="alert alert-danger" role="alert" style="display:none;">
								<span id="gs-alert-remove" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"> </span>
								<p></p>
							</div>
							<div id="header-login-section" class="row">
									<form id="header-login-form" role="form">
										<div id="form-wrap">
											<div>
												<span class="form-group">
												  <input type="email" id="username" name="username" class="form-control" size="50" placeholder="Email">
												  <div class="spacer10"></div>
												  <input type="password" id="credentials" name="password" class="form-control" placeholder="Password">
												</span>
											</div>
											<div id="forgot-password-wrap">
												<a href="#">Forgot your password?</a>
											</div>
											<div id="buttons">
												<button id="header-login-submit" type="button" class="pull-right">Log In</button>
											</div>
										</div>
									</form>
							</div>

							<div id="create-account-section">
								<a id="create-account" href="/manage/user/create" >Create a new account</a>
							</div>
						</div>
						<!-- End content of popover -->

						<div class="col-lg-4 col-md-4">
							<div class="wrapper">
								<div id="searchIcon">
									<img alt="" src="/images/search.png">
								</div>

								<div id="home-search" class="searchBox">
									<form id="search-form" action="javascript:performCourseSearch();">
										<div id="searchGroup" class="input-group">
											<input type="text" id="searchCriteria" name="searchCriteria" class="form-control searchCriteria" placeholder="Course (ID), keyword" tabindex="1">
											<span class="input-group-btn">
												<button id="course-search-button" class="btn btn-default" type="submit">
													<img alt="" src="/images/search.png">
												</button>
											</span>
										</div>
										<div id="advancedSearchBox" class="advanced-box-filters" style="display:none;">
													<div class="wrapper">
														<div class="padding0">
															<p class="search-box-intro">
																Refine results by:
															</p>
														</div>
														<div class="center-filter">
															<select id="selSearchLocation" class="form-control" tabindex="2">
																	<option value="">Locations</option>
																	<% if (locations) { %>
																		<% locations.forEach(function(location) { %>
																			<option value="<%= location %>"><%= location %></option>
																		<% }); %>
																	<% } %>
															</select>
														</div>
														<div class="center-filter">
															<select id="selCategorySubject" class="form-control" tabindex="3">
																<option class="subject-item" value="all">Subject</option>
																<% if (courseSubjectResult) { %>
																	<% courseSubjectResult.forEach(function(courseCategory) { %>
																			<% if (courseCategory.subjectCount > 1 || courseCategory.category != courseCategory.courseSubject[0].subject) { %>
																				<option data-optionType="category" value="<%= courseCategory.category %>" label="<%= courseCategory.category + ' (' + courseCategory.count + ')'%>"><%= courseCategory.category + ' (' + courseCategory.count + ')'%></option>
																				<% courseCategory.courseSubject.forEach(function(courseSubject) { %>
																					<option data-optionType="subject" value="<%= courseSubject.filter %>" label="&nbsp;&nbsp;&nbsp;&nbsp;<%= courseSubject.subject + ' (' + courseSubject.count + ')'%>" class="subject-category"><%= courseSubject.subject + ' (' + courseSubject.count + ')'%></option>
																				<% }); %>
																		 <% } else if(courseCategory.subjectCount == 1) { %>
																			 <option data-optionType="subject" value="<%= courseCategory.courseSubject[0].filter %>" label="<%= courseCategory.courseSubject[0].subject + ' (' + courseCategory.courseSubject[0].count + ')'%>" class="subject-item"><%= courseCategory.courseSubject[0].subject + ' (' + courseCategory.courseSubject[0].count + ')'%></option>
																		 <% } %>
																	<% }); %>
																<% } %>
															</select>
														</div>
														<div class="pull-right padding-top">
															<p class="btn"><a id="search-button" class="search" href="#" role="button" tabindex="4">Search <span class="glyphicon glyphicon-chevron-right white-arrow"></span></a></p>
														</div>
													</div>
											 </div>
									</form>
								</div> <!-- END searchBox #HomeSearch -->
							</div>
						</div>
					</div>


				</div>
		</header><!-- END header -->
	</div> <!-- END Row -->
</div><!-- END Container -->

<!-- Navigation  -->
<% include ../partials/nav %>
<!-- END Navigation  -->
<!--  END HEADER -->
<hr class="mobile">
<!-- Title Section -->
<% include ../partials/title %>
<!-- END Title Section -->

<!--/nutch_noindex-->
