<!--nutch_noindex-->

<!--  Top Nav -->
<% include ../partials/nav_top %>
<!--  END Top Nav -->

<!--  HEADER -->
<div id="header" class="container">
	<div class="row header clearfix">
		<header>
				<div class="col-lg-9 col-md-8 col-sm-7 col-xs-7 non-mobile ">
					<a href="/">
						<img alt="Graduate School" src="/images/logo.png" class="logo logo-fix-mid">
					</a>
				</div>
				<div class="col-lg-9 col-md-8 col-sm-9 col-xs-9 header-mob mobile ">
					<a href="/">
						<img alt="Graduate School" src="/images/logo-mobile.png" class="logo-mob">
					</a>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-5 col-xs-5 non-mobile">
					<div class="spacer"></div>
					<div class="wrapper">
						<div id="searchIcon">
							<img alt="" src="/images/search.png">
						</div>

						<div id="home-search" class="searchBox">
							<form id="search-form" action="javascript:performCourseSearch();">
								<div id="searchGroup" class="input-group">
									<input type="text" id="searchCriteria" name="searchCriteria" class="form-control searchCriteria" placeholder="Course (ID), keyword" tabindex="1">
									<span class="input-group-btn">
										<button id="course-search-button" class="btn btn-default" type="submit">
											<img alt="" src="/images/search.png">
										</button>
									</span>
								</div>
								<div id="advancedSearchBox" class="advanced-box-filters" style="display:none;">
											<div class="wrapper">
												<div class="padding0">
													<p class="search-box-intro">
														Refine results by:
													</p>
												</div>
												<div class="center-filter">
													<select id="selSearchLocation" class="form-control" tabindex="2">
															<option value="">Locations</option>
															<% locations.forEach(function(location) { %>
																<option value="<%= location %>"><%= location %></option>
															<% }); %>
													</select>
												</div>
												<div class="center-filter">
													<select id="selCategorySubject" class="form-control" tabindex="3">
														<option class="subject-item" value="all">Subject</option>
														<% if (courseSubjectResult != null) { %>
															<% courseSubjectResult.forEach(function(courseCategory) { %>
																	<% if (courseCategory.subjectCount > 1 || courseCategory.category != courseCategory.courseSubject[0].subject) { %>
						                        <option data-optionType="category" value="<%= courseCategory.category %>" label="<%= courseCategory.category + ' (' + courseCategory.count + ')'%>"><%= courseCategory.category + ' (' + courseCategory.count + ')'%></option>
						                        <% courseCategory.courseSubject.forEach(function(courseSubject) { %>
						                          <option data-optionType="subject" value="<%= courseSubject.filter %>" label="&nbsp;&nbsp;&nbsp;&nbsp;<%= courseSubject.subject + ' (' + courseSubject.count + ')'%>" class="subject-category"><%= courseSubject.subject + ' (' + courseSubject.count + ')'%></option>
						                        <% }); %>
						                     <% } else if(courseCategory.subjectCount == 1) { %>
						                       <option data-optionType="subject" value="<%= courseCategory.courseSubject[0].filter %>" label="<%= courseCategory.courseSubject[0].subject + ' (' + courseCategory.courseSubject[0].count + ')'%>" class="subject-item"><%= courseCategory.courseSubject[0].subject + ' (' + courseCategory.courseSubject[0].count + ')'%></option>
						                     <% } %>
															<% }); %>
														<% } %>
													</select>
												</div>
												<div class="pull-right padding-top">
													<p class="btn"><a id="search-button" class="search" href="#" role="button" tabindex="4">Search <span class="glyphicon glyphicon-chevron-right white-arrow"></span></a></p>
												</div>
											</div>
									 </div>
       				</form>
						</div> <!-- END searchBox #HomeSearch -->
					</div>
				</div>
		</header><!-- END header -->
	</div> <!-- END Row -->
</div><!-- END Container -->

<!-- Navigation  -->
<% include ../partials/nav %>
<!-- END Navigation  -->
<!--  END HEADER -->
<hr class="mobile">
<!-- Title Section -->
<% include ../partials/title %>
<!-- END Title Section -->

<!--/nutch_noindex-->
