<!-- Navigation -->
	<div class="row padding">

	  <div class="navbar navbar-default gs">

	  <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

	  <div id="navbar-collapse-grid" class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">

				<li class="dropdown gs-fw w1"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle underlined">About Graduate School</a>
						        <ul class="dropdown-menu">
						          <li class="grid-demo">
						            <div class="row border-between">
													  <div class="col-sm-3">
							                  <h4>Our History</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Mission Statement &amp; Goals</a>
								                    </li>

								                    <li>
								                      <a href="/">Deming Award</a>
								                    </li>

								                    <li>
								                      <a href="/">Our Customers</a>
								                    </li>

								                    <li>
								                      <a href="/">Board Members</a>
								                    </li>

								                    <li>
								                      <a href="/">Key Officials</a>
								                    </li>

								                    <li>
								                      <a href="/">Field Offices</a>
								                    </li>

								                    <li>
								                      <a href="/">GSA Schedule 874</a>
								                    </li>

							                  </ul>
							                </div>  <div class="col-sm-3">
							                  <h4>Programs</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Daytime Courses </a>
								                    </li>

								                    <li>
								                      <a href="/">Academic Programs </a>
								                    </li>

								                    <li>
								                      <a href="/">Evening and Weekend Courses</a>
								                    </li>

								                    <li>
								                      <a href="/">Online Learning</a>
								                    </li>

								                    <li>
								                      <a href="/">Certificate Programs</a>
								                    </li>

								                    <li>
								                      <a href="/">Southeastern University </a>
								                    </li>

							                  </ul>
							                </div>  <div class="col-sm-3">
							                  <h4>Opportunities</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Instructor and other Related Openings</a>
								                    </li>

								                    <li>
								                      <a href="/">Job Openings</a>
								                    </li>

								                    <li>
								                      <a href="/">Training Locations &amp; Hotels</a>
								                    </li>

							                  </ul>
							                </div>  <div class="col-sm-3">
							                  <h4>Communication</h4>
							                  <ul>
                                    <li>
                                      <a href="/forms/contact-us">Contact Us</a>
                                    </li>
                                    <li>
                                      <a href="/news">News</a>
                                    </li>
                                    <li>
                                      <a href="/">Public Safety</a>
                                    </li>
                                    <li>
                                      <a href="/">Press Releases </a>
                                    </li>
							                  </ul>
							                </div>
						            </div>
						          </li>
						        </ul>
				</li>
				          <li class="dropdown gs-fw w2"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle underlined">Customized Solutions</a>
											<ul class="dropdown-menu">
												<li class="grid-demo">
													<div class="row border-between">
													  <div class="col-sm-4">
														  <ul>

																		<li>
																			<a href="/forms/onsite-inquiry">Training at your location</a>
																		</li>

																		<li>
																			<a href="/">Assessment Tools</a>
																		</li>

																		<li>
																			<a href="/">International Institute</a>
																		</li>

																		<li>
																			<a href="/">Course Design &amp; Development</a>
																		</li>

																		<li>
																			<a href="/">Career Transition and Training Center Management</a>
																		</li>

															</ul>
														</div>
													</div>
												</li>
											</ul>
										</li>
					           <li class="dropdown gs-fw w3"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle underlined">Certificate  Programs</a>
											<ul class="dropdown-menu">
												<li class="grid-demo">
													<div class="row border-between">
													  <div class="col-sm-4">
														  <ul>

																		<li>
																			<a href="/">Apply</a>
																		</li>

																		<li>
																			<a href="/">Programs</a>
																		</li>

																		<li>
																			<a href="/">Completion/Graduation</a>
																		</li>

																		<li>
																			<a href="/">Progress Report</a>
																		</li>

																		<li>
																			<a href="/">Request Waiver</a>
																		</li>

																		<li>
																			<a href="/">Cert FAQ's</a>
																		</li>

															</ul>
														</div>
													</div>
												</li>
											</ul>
										</li>
				  <li class="dropdown gs-fw w4"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle underlined">Government Training and Professional Development Programs</a>
						        <ul class="dropdown-menu">
						          <li class="grid-demo">
						            <div class="row border-between">

				                <div class="col-sm-3">
							                  <h4>Customization</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Find a Class</a>
								                    </li>

								                    <li>
								                      <a href="/forms/onsite-inquiry">Bring Training to Your Location</a>
								                    </li>

								                    <li>
								                      <a href="/">Customized Course Design</a>
								                    </li>

							                  </ul>
							                </div>








							                <div class="col-sm-3">
							                  <h4>Institutes</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Center for Leadership and Management</a>
								                    </li>

								                    <li>
								                      <a href="/">Government Auditing Training Institute</a>
								                    </li>

								                    <li>
								                      <a href="/">International Institute</a>
								                    </li>

								                    <li>
								                      <a href="/">Career Transition and Training Center Management</a>
								                    </li>

							                  </ul>
							                </div>

							                <div class="col-sm-3">
							                  <h4>Curriculum Offerings</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Acquisition</a>
								                    </li>

								                    <li>
								                      <a href="/">Auditing</a>
								                    </li>

								                    <li>
								                      <a href="/">Business Analysis</a>
								                    </li>

								                    <li>
								                      <a href="/">Communication and Professional Skills</a>
								                    </li>

								                    <li>
								                      <a href="/">Financial Management</a>
								                    </li>

								                    <li>
								                      <a href="/">Foreign Languages</a>
								                    </li>

								                    <li>
								                      <a href="/">Government Audit Training</a>
								                    </li>

								                    <li>
								                      <a href="/">Grants Management</a>
								                    </li>

								                    <li>
								                      <a href="/">Human Resources</a>
								                    </li>

								                    <li>
								                      <a href="/">Information Technology</a>
								                    </li>

								                    <li>
								                      <a href="/">Leadership &amp; Management</a>
								                    </li>

								                    <li>
								                      <a href="/">Personal Property Management</a>
								                    </li>

								                    <li>
								                      <a href="/">Program and Management Analysis</a>
								                    </li>

								                    <li>
								                      <a href="/">Project Management</a>
								                    </li>

								                    <li>
								                      <a href="/">Security Training</a>
								                    </li>

							                  </ul>
							                </div>

						            </div>
						          </li>
						        </ul>
						      </li>
				  <li class="dropdown gs-fw w5"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle underlined">Academic Programs (Credit)</a>
						        <ul class="dropdown-menu">
						          <li class="grid-demo">
						            <div class="row border-between">
												          <div class="col-sm-3">
							                  <h4>Management Department</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Accounting</a>
								                    </li>

								                    <li>
								                      <a href="/">Cyber Security</a>
								                    </li>

								                    <li>
								                      <a href="/">Legal Studies</a>
								                    </li>

								                    <li>
								                      <a href="/">Management</a>
								                    </li>

							                  </ul>
							                </div>
						                  <div class="col-sm-3">
							                  <h4>Center for Health Sciences</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Degree programs</a>
								                    </li>

								                    <li>
								                      <a href="/">Certificate programs</a>
								                    </li>

							                  </ul>
							                </div>
						                      <div class="col-sm-3">
							                  <h4>Tuition and Financial Information</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Tuition Fees And Payment</a>
								                    </li>

								                    <li>
								                      <a href="/">Financial Aid</a>
								                    </li>

								                    <li>
								                      <a href="/">Scholarship Information</a>
								                    </li>

							                  </ul>
							                </div>
						                  <div class="col-sm-3">
							                  <h4>Resources</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Admissions Requirements</a>
								                    </li>

								                    <li>
								                      <a href="/">Student Right to Know</a>
								                    </li>

								                    <li>
								                      <a href="/">Proctor Request Form</a>
								                    </li>

								                    <li>
								                      <a href="/">Distance Education Course Exam Proctoring</a>
								                    </li>

								                    <li>
								                      <a href="/">Calendar and Schedule of Classes</a>
								                    </li>

								                    <li>
								                      <a href="/">Spring 2015 Semester Textbook List</a>
								                    </li>

								                    <li>
								                      <a href="/">Assessment Testing</a>
								                    </li>

								                    <li>
								                      <a href="/">Veteran and Military Services</a>
								                    </li>

								                    <li>
								                      <a href="/">Disability Services</a>
								                    </li>

								                    <li>
								                      <a href="/">Blackboard Login</a>
								                    </li>

								                    <li>
								                      <a href="/">Online Library</a>
								                    </li>

								                    <li>
								                      <a href="/">Free Online Tutoring Resources</a>
								                    </li>

							                  </ul>
							                </div>
						                  <div class="col-sm-3">
							                  <h4>Student Services</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Career Services</a>
								                    </li>

								                    <li>
								                      <a href="/">Student Laptop Loaner Program</a>
								                    </li>

								                    <li>
								                      <a href="/">Bookstore</a>
								                    </li>

								                    <li>
								                      <a href="/">Distance Education Course Exam Proctoring</a>
								                    </li>

								                    <li>
								                      <a href="/">Request Transcript</a>
								                    </li>

								                    <li>
								                      <a href="/">Contact Information</a>
								                    </li>

								                    <li>
								                      <a href="/">Assessment Testing</a>
								                    </li>

								                    <li>
								                      <a href="/">Public Safety</a>
								                    </li>

								                    <li>
								                      <a href="/">Voter Registration</a>
								                    </li>

								                    <li>
								                      <a href="/">Blackboard Login</a>
								                    </li>

								                    <li>
								                      <a href="/">Archives</a>
								                    </li>

								                    <li>
								                      <a href="/">Forms</a>
								                    </li>

							                  </ul>
							                </div>
						                  <div class="col-sm-3">
							                  <h4>Catalog</h4>
							                  <ul>

								                    <li>
								                      <a href="/">Academic Programs Catalog 2014-2015</a>
								                    </li>

								                    <li>
								                      <a href="/">Academic Programs Student Handbook 2015-2016</a>
								                    </li>

								                    <li>
								                      <a href="/">Academic Programs Faculty Handbook 2015-2016</a>
								                    </li>

								                    <li>
								                      <a href="/">Student Community Resource Guide</a>
								                    </li>

							                  </ul>
							                </div>
						              </div>
						          </li>
						        </ul>
						      </li>
				      <li class="dropdown gs-fw w6"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle underlined">Evening &amp; Weekend  Programs</a>
						        <ul class="dropdown-menu">
						          <li class="grid-demo">
						            <div class="row border-between">
											      <div class="col-sm-3">
							                  <h4>Course Information and Policy</h4>
							                  <ul>

								                    <li>
								                      <a href="/">FAQs</a>
								                    </li>

								                    <li>
								                      <a href="/">Evening and Weekend Programs 2015 Catalog (PDF)</a>
								                    </li>

								                    <li>
								                      <a href="/">Course Offerings by Term</a>
								                    </li>

								                    <li>
								                      <a href="/">Online Bookstore</a>
								                    </li>

								                    <li>
								                      <a href="/">Foreign Language Level Guidance</a>
								                    </li>

								                    <li>
								                      <a href="/">Certificate Programs</a>
								                    </li>

								                    <li>
								                      <a href="/">Official Grade Report</a>
								                    </li>

								                    <li>
								                      <a href="/">Registration, Payment, and Refunds</a>
								                    </li>

								                    <li>
								                      <a href="/">College Credit (ACE)</a>
								                    </li>

								                    <li>
								                      <a href="/">2015 Instructor Handbook (PDF)</a>
								                    </li>

							                  </ul>
							                </div>
						                  <div class="col-sm-3">
							                  <h4>Subject Areas</h4>
							                  <ul>

								                    <li>
								                      <a href="/forms/contact-us">Business and Management</a>
								                    </li>

								                    <li>
								                      <a href="/">Foreign Languages</a>
								                    </li>

								                    <li>
								                      <a href="/">Graphic Arts and Photography</a>
								                    </li>

								                    <li>
								                      <a href="/">Information Technology</a>
								                    </li>

								                    <li>
								                      <a href="/">Mathematics and Statistics</a>
								                    </li>

								                    <li>
								                      <a href="/">Natural Sciences</a>
								                    </li>

								                    <li>
								                      <a href="/">Paralegal Studies</a>
								                    </li>

								                    <li>
								                      <a href="/">Social Sciences</a>
								                    </li>

								                    <li>
								                      <a href="/">Test Preparation</a>
								                    </li>

							                  </ul>
							                </div>

						            </div>
						          </li>
						        </ul>
						      </li>
						<li class="dropdown gs-fw w7"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle underlined">Online  Learning</a>
											<ul class="dropdown-menu">
												<li class="grid-demo">
													<div class="row border-between">
													  <div class="col-sm-4">
														  <ul>

																		<li>
																			<a href="/">Webinar Series</a>
																		</li>

																		<li>
																			<a href="/">DE Federal Human Resources</a>
																		</li>

																		<li>
																			<a href="/">Certificate Program</a>
																		</li>

																		<li>
																			<a href="/">DE Course Offerings</a>
																		</li>

																		<li>
																			<a href="/">DE Technical Support Helpdesk for Current Students: 866-627-8532</a>
																		</li>

																		<li>
																			<a href="/">Blackboard Login</a>
																		</li>

																		<li>
																			<a href="/">Test Preparation</a>
																		</li>

															</ul>
														</div>
													</div>
												</li>
											</ul>
										</li>




				<!--
	      <% navigation.main.forEach(function(nav) { %>

	        <%# Individual Link %>
	        <% if (nav.type=='link') { %>

	      	  <li class="dropdown gs-fw"><a href="<%= nav.value %>" class=""><%= nav.name %></a></li>

	      	<%# Sub Nav with Multiple Sections %>
	        <% } else if (nav.type=='sub-section') { %>

	          <li class="dropdown gs-fw"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle"><%= nav.name %><b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li class="grid-demo">
		            <div class="row">
									<% nav.value.forEach(function(subNav) { %>

                    <%# Sections %>
		                <% if (subNav.type=='section') { %>

			                <div class="col-sm-3">
			                  <h4><%= subNav.name %></h4>
			                  <ul>
													<% subNav.value.forEach(function(subSubNav) { %>
				                    <li>
				                      <a href="<%= subSubNav.value %>"><%= subSubNav.name %></a>
				                    </li>
				                 <% }); %>
			                  </ul>
			                </div>
		                <% } %>
		                <%# End Sections %>

		              <% }); %>
		            </div>
		          </li>
		        </ul>
		      </li>

					<%# Sub Nav with Single Sections %>
					<% } else if (nav.type=='single-section') { %>

							<li class="dropdown gs-fw"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle"><%= nav.name %><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="grid-demo">
									<div class="row">
									  <div class="col-sm-4">
										  <ul>
										    <% nav.value.forEach(function(subNav) { %>
														<li>
															<a href="<%= subNav.value %>"><%= subNav.name %></a>
														</li>
												<% }); %>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>

					<%# Basic List %>
	        <% } else if (nav.type=='sub-list') { %>

	            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= nav.name %><b class="caret"></b></a>
                <ul role="menu" class="dropdown-menu">

									<% nav.value.forEach(function(subNav) { %>
			              <li><a tabindex="-1" href="<%= subNav.value %>"><%= subNav.name %></a></li>
			            <% }); %>
			          </ul>
			        </li>

	          <% } %>
	        <% }); %>
        </ul> -->
      </div>
    </div>
  </div><!-- / END of row -->
	<!-- Navigation ENDS -->
