<!-- Navigation -->
<div class="container">
	<div class="row wrapper">
		<div class="wrapper mobile-menu">
			<div id="dl-menu" class="dl-menuwrapper">
					<button class="dl-trigger"><span class="menutext">Menu</span></button>
					<ul class="dl-menu">
					  <% navigation.main.forEach(function(nav) { %>
					  <li>
					    <a href="#"><%= nav.title %></a>
					    <% if (nav.sections) { %>
					      <ul class="dl-submenu">
					        <% nav.sections.forEach(function(subNav) { %>
					          <li>
					              <a href="#"><%= subNav.title %></a>
					                <ul class="dl-submenu">
					                  <% subNav.links.forEach(function(link) { %>
					                    <li>
					                      <a href="<%= link.url %>" target="<%= (link.newWindow) ? '_blank' : '' %>"><%= link.title %></a>
					                    </li>
					                  <% }); %>
					                </ul>
					          </li>
					       <% }); %>
					      </ul>
					     <% } %>
							 </li>
					   <% }); %>
					 </ul>
			 </div><!-- END MOBILE MENU -->
		</div>
	</div>
	<div class="row padding non-mobile mob-rem">
		<div class="navbar navbar-default gs">
		<div class="navbar-header">
				<button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="menu-title">Menu</span>
				</button>
			</div>

		<div id="navbar-collapse-grid" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			  <% columnCount = 1; %>
			  <% navigation.main.forEach(function(nav) { %>
					<li class="dropdown gs-fw w<%= columnCount %>"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle underlined"><div class="icon"><img src="<%= nav.icon.file.url %>" alt="" /></div><div ><%= nav.title %></div></a>
						<ul class="dropdown-menu">
							<li class="grid-demo">
								<div class="row border-between">
									<% if (nav.sections) { %>
										<% var subNavCount = 0; %>
							  		<% nav.sections.forEach(function(subNav) { %>
											<% if (subNav.startNewColumn) { %>
												<% if (subNavCount > 0) { %>
													</div>  <%#-- close out last column (but never on first column) %>
												<% } %>
												<div class="col-sm-3">
												<% } %>
												<h4><%= subNav.title %></h4>
													<ul>
													  <% subNav.links.forEach(function(link) { %>
														  <li>
															  <a href="<%= link.url %>" target="<%= (link.newWindow) ? '_blank' : '' %>"><%= link.title %></a>
														  </li>
														<% }); %>
													</ul>
												<% subNavCount++; %>
												<% }); %>
												</div> <%#-- close out last column %>
									<% } %>
								</div>
							</li>
						</ul>
					</li>
					<% columnCount++; %>
				<% }); %>

				<li class="dropdown gs w5 non-mobile"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle underlined"><div class="icon"><img src="/images/contact-us.png" alt="" /></div><div >Contact Us</div></a>
          <ul class="dropdown-menu">
            <li><a href="tel:+18887444723"><img src="/images/call-us.png" alt="" />(888) 744-GRAD</a></li>
            <li><a href="mailto:customersupport@graduateschool.edu"><img src="/images/email-us.png" alt="" />Customer Support</a></li>
            <li><a href="https://livechat.boldchat.com/aid/391752780525725401/bc.chat?resize=true&amp;cbdid=387983771792672006" target="_blank" onclick="window.open((window.pageViewer &amp;&amp; pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&amp;' : '?') + 'url=' + escape(document.location.href)), 'Chat391752780525725401', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;"><img src="/images/chat-with-us.png" alt="" />Chat</a></li>
          </ul>
        </li>
			</ul>
			</div>
		</div><!-- END of row -->
	</div><!-- END Container  -->
</div>
<!-- END Navigation -->
<div class="spacer10"></div>

<script>
	$(function() {
		$( '#dl-menu' ).dlmenu();
	});
</script>
