<!-- Navigation -->
<div class="container">
	<div class="row padding">

		<div class="navbar navbar-default gs">

		<div class="navbar-header">
				<button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

		<div id="navbar-collapse-grid" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			  <% columnCount = 1; %>
			  <% navigation.main.forEach(function(nav) { %>
					<li class="dropdown gs-fw w<%= columnCount %>"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle underlined"><div class="icon"><img src="<%= nav.icon.file.url %>" alt="" /></div><div ><%= nav.title %></div></a>
						<ul class="dropdown-menu">
							<li class="grid-demo">
								<div class="row border-between">
									<% if (nav.sections) { %>
										<% var subNavCount = 0; %>
							  		<% nav.sections.forEach(function(subNav) { %>
											<% if (subNav.startNewColumn) { %>
												<% if (subNavCount > 0) { %>
													</div>  <%#-- close out last column (but never on first column) %>
												<% } %>
												<div class="col-sm-3">
											<% } %>
												<h4><%= subNav.title %></h4>
												<ul>
												  <% subNav.links.forEach(function(link) { %>
													  <li>
														  <a href="<%= link.url %>"><%= link.title %></a>
													  </li>
													<% }); %>
												</ul>
												<% subNavCount++; %>
										<% }); %>
										</div> <%#-- close out last column %>
									<% } %>
								</div>
							</li>
						</ul>
					</li>
					<% columnCount++; %>
				<% }); %>
			</div>
		</div>
	</div><!-- / END of row -->
</div>	<!-- END Container  -->
	<!-- END Navigation -->
