<!-- Navigation -->
<div class="container">
	<div class="row padding">

		<div class="navbar navbar-default gs">

		<div class="navbar-header">
				<button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

		<div id="navbar-collapse-grid" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			  <% columnCount = 1; %>
			  <% navigation.main.forEach(function(nav) { %>
					<li class="dropdown gs-fw w<%= columnCount %>"><a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle underlined"><%= nav.title %></a>
						<ul class="dropdown-menu">
							<li class="grid-demo">
								<div class="row border-between">
									<% if (nav.sections) { %>
							  		<% nav.sections.forEach(function(subNav) { %>
											<div class="col-sm-3">
												<h4><%= subNav.title %></h4>
												<ul>
												  <% nav.sections[0].links.forEach(function(link) { %>
													  <li>
														  <a href="<%= link.url %>"><%= link.title %></a>
													  </li>
													<% }); %>
												</ul>
											</div>
										<% }); %>
									<% } %>
								</div>
							</li>
						</ul>
					</li>
					<% columnCount++; %>
				<% }); %>
			</div>
		</div>
	</div><!-- / END of row -->
</div>	<!-- END Container  -->
	<!-- END Navigation -->
