<!-- TOP NAVIGATION -->
<div class="container-fluid nav-top" id="top-menu">
<div class="container padding0">
<!-- START TOP PANEL -->
    <div id="nav-top">
      <div class="container npanel">
        <div class="fix">
          <div id="close-button" class="toggle"><ul><li class="nav-toggle"><a id="close-button-link" href="#"><span class="glyphicon close-button glyphicon-chevron-up"></span></a></li></ul></div>
           <div class="left-panel col-lg-3">
               <ul class="nav nav-pills nav-stacked" id="tabs">
                   <li class="active"><a id="lnkCurrent" href="#current-students" data-toggle="tab"><img src="/images/current-students.png" alt="" class="size-fix" /> Students</a></li>
                   <li ><a id="lnkProspective" href="#prospective-students" data-toggle="tab"><img src="/images/prospective-students.png" alt="" class="size-fix" /> Prospective Students</a></li>
                   <li ><a id="lnkTraining" href="#training-official" data-toggle="tab"><img src="/images/training-official.png" alt="" class="size-fix" /> Training Officials</a></li>
                   <li ><a id="lnkFaculty" href="#faculty-and-staff" data-toggle="tab"><img src="/images/faculty-and-staff.png" alt="" class="size-fix" /> Faculty & Staff</a></li>
               </ul>
           </div>
           <div class="tab-content col-lg-9 fix-padding-bottom">

              <% navigation.top.forEach(function(nav) { %>
                <div class="tab-pane <%= nav.active %>" id="<%= nav.key %>">
                <div id="nav-top-non-mob" class="wrapper non-mobile">
                  <% if (nav.sections) { %>
                    <% var subNavCount = 0; %>
                    <% nav.sections.forEach(function(subNav) { %>
                      <% if (subNav.startNewColumn) { %>
                        <% if (subNavCount > 0) { %>
                          </div>  <%#-- close out last column (but never on first column) %>
                        <% } %>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                      <% } %>
                        <h3><%= subNav.title %></h3>
                        <ul>
                          <% subNav.links.forEach(function(link) { %>
                            <li><a href="<%= link.url %>"><%= link.title %></a></li>
                          <% }); %>
                        </ul>
                      <% subNavCount++; %>
                    <% }); %>
                    </div> <%#-- close out last column %> <!-- close out last column -->
                  <% } %>
                </div> <!-- END wrapper non-mobile -->
                <div id="nav-top-mob" class="mobile">
                  <% if (nav.sections) { %>
                    <% nav.sections.forEach(function(subNav) { %>
                      <div id="single-item" class="wrapper">
                      <% var linkId = nav.key+'-'+subNav.title.replace(/[^a-zA-Z0-9]/g, '-').replace(/--/g, '-').replace(/\-$/, "");%>

                      <a href="#<%= linkId %>" class="expand-section accordion-toggle" data-toggle="collapse">  <span class="glyphicon glyphicon-plus-sign"></span> <%= subNav.title %></a>
                        <ul id="<%= linkId %>" class="collapse">
                          <% subNav.links.forEach(function(link) { %>
                            <li><a href="<%= link.url %>"><%= link.title %></a></li>
                          <% }); %>
                        </ul>
                      </div>
                    <% }); %>
                  <% } %>
                </div>
                </div>
              <% }); %>
            </div><!-- END fix -->
        </div><!-- END container -->
      </div><!-- END Nav Top -->


      <div class="toggle colored-bg hide-panel" style="z-index: 25;">
        <div id="nav-top-menu-container" class="nav-top-bar non-mobile">
          <ul id="nav-top-menu">
            <li id="nav-top-menu-students" class="nav-toggle" data-tab="lnkCurrent"><a href="#">Students</a></li>
            <li id="nav-top-menu-prospective" class="nav-toggle" data-tab="lnkProspective"><a href="#">Prospective Students</a></li>
            <li id="nav-top-menu-training" class="nav-toggle" data-tab="lnkTraining"><a href="#">Training Officials</a></li>
            <li id="nav-top-menu-faculty" class="nav-toggle" data-tab="lnkFaculty"><a href="#">Faculty & Staff</a></li>
          </ul>
        </div>
        <div id="nav-top-menu-container-mobile" class="nav-top-bar-mob mobile">
          <ul id="nav-top-menu">
            <li class=""><a href="#" id="contact-us">Contact Us <img src="/images/contact-us-top.png" alt="" /></a></li>
            <li class=""><a href="#" id="mob-search">Search <img src="/images/search-top.png" alt="" /></a></li>
            <li class="nav-toggle" data-tab="lnkCurrent"><a href="#" id="nav-toggle-mob">Quick Menu <img src="/images/quick-menu.png" alt="" class="user-icon" /></a></li>
          </ul>
        </div>

      </div><!-- END toggle -->
    </div>	<!-- END container -->



</div> <!-- END TOP MENU - container-fluid nav-top -->
</div>


<!-- Mobile only section - activated on click-->
<div class="wrapper mobile">
  <!-- Contact us -->
  <div id="contact-us-top-menu">
    <ul>
        <li>
            <a id="getDirectionsNav" class="pull-right" href="" target="_blank" role="button" class="blueish">Get Directions</a>
        <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal"
         aria-hidden='true' data-city=' - Washington,DC' data-address='600 Maryland Avenue,S.W.,Washington,DC 20024-2520'>600 Maryland Avenue,S.W.,<br>Washington,DC 20024-2520</span>
        </li>
        <hr>
        <li data-toggle="tooltip" title="Email to Graduate School"><a id="nav-menu-contact-email" href="mailto:customersupport@graduateschool.edu">customersupport@graduateschool.edu</a></li>
        <hr>
        <li><a id="emailNow" class="btn btn-primary" href="mailto:customersupport@graduateschool.edu" role="button">EMAIL NOW!</a></li>
        <li><a id="contact-us-phone" href="tel:888-744-4723"><img alt="" src="/images/call-us.png" class="">(888) 744-4723</a></li>
      <li><a id="contact-us-fax" href="#"><img alt="" src="/images/fax-us.png" class="">(866) 329-4723</a></li>
      <li><a id="contact-us-email" href="/forms/contact-us" ><img alt="" src="/images/email-us.png" class="">Contact GS</a></li>
      <li><a id="contact-us-chat" href="https://livechat.boldchat.com/aid/391752780525725401/bc.chat?resize=true&amp;cbdid=387983771792672006" target="_blank" onclick="window.open((window.pageViewer &amp;&amp; pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&amp;' : '?') + 'url=' + escape(document.location.href)), 'Chat391752780525725401', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;"><img src="/images/chat-with-us.png" alt="" />Chat with us</a></li>
    </ul>
  </div>
  <!-- Search Box -->
  <div id="search-top-menu">
    <div id="mob-searchBox">
      <form id="search-form-top" action="javascript:performCourseSearchM();">
        <div id="searchGroup-mob" class="input-group">
          <input type="text" id="searchCriteriaM" name="searchCriteriaM" class="form-control searchCriteria" placeholder="Course (ID), keyword" tabindex="1">
          <span class="input-group-btn">
            <button id="course-search-buttonM" class="btn btn-default" type="submit">
              <img alt="" src="/images/search.png">
            </button>
          </span>
        </div>
      </form>
    </div>
    <div id="mob-advancedSearchBox" class="advanced-box-filters mob">
          <div class="wrapper">
            <div class="padding0">
              <p class="search-box-intro">
                Or find a course by:
              </p>
            </div>
            <div class="center-filter">
              <select id="selSearchLocationM" class="form-control" tabindex="2">
                  <option value="">Locations</option>
                  <% if (locations) { %>
                    <% locations.forEach(function(location) { %>
                      <option value="<%= location %>"><%= location %></option>
                    <% }); %>
                  <% } %>
              </select>
            </div>
            <div class="center-filter">
              <select id="selCategorySubjectM" class="form-control" tabindex="3">
                <option class="subject-item" value="all">Subject</option>
                <% if (courseSubjectResult) { %>
                  <% courseSubjectResult.forEach(function(courseCategory) { %>
                    <% if (courseCategory.subjectCount > 1 || courseCategory.category != courseCategory.courseSubject[0].subject) { %>
                    <option data-optionType="category" value="<%= courseCategory.category %>" label="<%= courseCategory.category + ' (' + courseCategory.count + ')'%>"><%= courseCategory.category + ' (' + courseCategory.count + ')'%></option>
                    <% courseCategory.courseSubject.forEach(function(courseSubject) { %>
                      <option data-optionType="subject" value="<%= courseSubject.filter %>" label="&nbsp;&nbsp;&nbsp;&nbsp;<%= courseSubject.subject + ' (' + courseSubject.count + ')'%>" class="subject-category"><%= courseSubject.subject + ' (' + courseSubject.count + ')'%></option>
                <% }); %>
                <% } else if(courseCategory.subjectCount == 1) { %>
                  <option data-optionType="subject" value="<%= courseCategory.courseSubject[0].filter %>" label="<%= courseCategory.courseSubject[0].subject + ' (' + courseCategory.courseSubject[0].count + ')'%>" class="subject-item"><%= courseCategory.courseSubject[0].subject + ' (' + courseCategory.courseSubject[0].count + ')'%></option>
                  <% } %>
                <% }); %>
                <% } %>
              </select>
            </div>
            <div class="search-submit pull-right padding-top">
              <p class="btn"><a id="search-buttonM" class="search" href="#" role="button" tabindex="4">Search <span class="glyphicon glyphicon-chevron-right white-arrow"></span></a></p>
            </div>
          </div>
       </div>
  </div><!-- END Search -->
</div><!-- END Wrapper -->
