  <!-- TOP NAVIGATION -->
<div class="container-fluid nav-top">
  <div class="container padding0">
  <!-- START TOP PANEL -->
    	<div id="nav-top">
    		<div class="container npanel">
          <div class="fix">
             <div class="left-panel col-lg-3">
                 <ul class="nav nav-pills nav-stacked" id="tabs">
                     <li class="active"><a id="lnkCurrent" href="#current-students" data-toggle="tab"><img src="/images/current-students.png" alt="" class="size-fix" /> Students</a></li>
                     <li ><a id="lnkProspective" href="#prospective-students" data-toggle="tab"><img src="/images/prospective-students.png" alt="" class="size-fix" /> Prospective Students</a></li>
                     <li ><a id="lnkTraining" href="#training-official" data-toggle="tab"><img src="/images/training-official.png" alt="" class="size-fix" /> Training Official</a></li>
                 </ul>
             </div>
             <div class="tab-content col-lg-9 fix-padding-bottom">
                <% navigation.top.forEach(function(nav) { %>
                  <div class="tab-pane <%= nav.active %>" id="<%= nav.key %>">
                    <% if (nav.sections) { %>
                      <% var subNavCount = 0; %>
							  		  <% nav.sections.forEach(function(subNav) { %>
                        <% if (subNav.startNewColumn) { %>
                          <% if (subNavCount > 0) { %>
                            </div>  <%#-- close out last column (but never on first column) %>
                          <% } %>
                          <div class="col-lg-4 col-md-2 col-sm-4">
                        <% } %>
                          <h3><%= subNav.title %></h3>
                          <ul>
                            <% subNav.links.forEach(function(link) { %>
                              <li><a href="<%= link.url %>"><%= link.title %></a></li>
                            <% }); %>
                          </ul>
                        <% subNavCount++; %>
                      <% }); %>
                      </div> <%#-- close out last column %>
                    <% } %>
                  </div>
                <% }); %>
              </div>
          </div>
        </div><!-- .container -->

    		<div class="toggle colored-bg hide-panel" style="z-index: 25;">
          <div class="nav-top-bar">
            <ul id="nav-top-menu">
              <li class="nav-toggle" data-tab="lnkCurrent"><a href="#">Students</a></li>
              <li class="nav-toggle" data-tab="lnkProspective"><a href="#">Prospective Students</a></li>
              <li class="nav-toggle" data-tab="lnkTraining"><a href="#">Training Official</a></li>
            </ul>
          </div>
          <%# <a href="#">
            <img src="/images/nav-top-icon.png" alt="" />
          </a>%>
    		</div><!-- END toggle -->
    	</div>	<!-- END TOP PANEL -->
  </div>
  </div>
<!-- END TOP NAVIGATION -->
