<div class="container-fluid">
  <div class="container">
    <div class="news row clearfix">
      <div class="">
        <% if (testimonial) { %>
          <% testimonial.forEach(function(testimony) { %>
            <div class="col-lg-8 col-md-12 col-sm-12 mfix-nopadding">
              <div id="testimonial" class="testimonial">
                <hr class="mobile">
                <% if (testimony.marketingImageLink) { %>
                <a class="testimonial-link" href="<%= testimony.marketingImageLink %>">
                <% } %>
                  <img src="<%= testimony.imageAsset.file.url %>" alt="<%= testimony.marketingImageText %>"  width="100%" class="testimonial-bg"/>
                  <blockquote cite="">
                    <span><%= testimony.marketingImageText %></span>
                  </blockquote>
                <% if (testimony.marketingImageLink) { %>
                </a>
                <% } %>
                <hr class="mobile">
              </div>
            </div>
          <% }); %>
        <% } %>
        <div class="col-lg-4 col-md-12 col-sm-12 mfix-nopadding">
          <div id="news-and-events" class="news-and-events">
          <h3><img src="/images/news-icon.png" alt="" /> News & Events</h3>
          <!-- News Entry  -->
          <% if (news) { %>
            <% for(i=0; i<=1; i++) { %>
              <div class="news-entry">
                <div class="news-entry-header">
                  <div class="row nopadding">
                    <div class="col-lg-2  col-md-1 col-sm-1 nopadding">
                      <div class="news-date">
                        <span class="month"><%= news[i].fields.date.date('MMM') %></span> <br>
                        <span class="day"><%= news[i].fields.date.date('DD') %></span>
                      </div>
                    </div>
                    <div class="col-lg-10 col-md-11 col-sm-11">
                    <a href="/news/<%= news[i].fields.slug %>"><h5><%= news[i].fields.title %></h5></a>
                    </div>
                  </div>
                </div>
                <div class="row news-excerpt nopadding">
                  <p>
                    <%= prune(striptags(news[i].fields.body), 250, "...") %>
                  </p>
                </div>
                <div class="row clearfix pull-right nopadding">
                    <a href="/news/<%= news[i].fields.slug %>">Read More <span class="glyphicon glyphicon-chevron-right blue-arrow"></span></a>
                </div>
                <hr>
              </div>
            <% } %>
          <% } %>
          <!-- END News Entry  -->
          <div class="row clearfix pull-left nopadding">
            <a id="view-all-news-link" href="/news">View all News &amp; Events</a>
          </div>
        </div>
       </div>
      </div>
    </div><!-- END row  -->
  </div><!-- END container  -->
</div><!-- END container-fluid  -->
