<div class="container-fluid">
  <div class="container">
    <div class="news row clearfix ">
      <div class="">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="testimonial">
            <img src="/images/testimonial.png" alt=""  width="100%"/>
            <blockquote cite="">
              <span>Graduate School? Imi, aut assit, od que prenti consequ ossundae et unt atur modignat landam, que voluptae. Imi que consequidus.</span>
            </blockquote>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="news-and-events">
          <h3><img src="/images/news-icon.png" alt="" /> News & Events</h3>
          <!-- News Entry  -->
          <div class="news-entry">
            <div class="news-entry-header">
              <div class="row nopadding">
                <div class="col-lg-2  col-md-1 col-sm-1 nopadding">
                  <div class="news-date">
                    <span class="month"><%= news[0].fields.date.date('MMM') %></span> <br>
                    <span class="day"><%= news[0].fields.date.date('DD') %></span>
                  </div>
                </div>
                <div class="col-lg-10 col-md-11 col-sm-11">
                <a href="/news/<%= news[0].fields.slug %>"><h5><%= news[0].fields.title %></h5></a>
                </div>
              </div>
            </div>
            <div class="row news-excerpt nopadding">
              <p>
                <%= prune(striptags(news[0].fields.body), 250, "...") %>
              </p>
            </div>
            <div class="row clearfix pull-right nopadding">
                <a href="/news/<%= news[0].fields.slug %>">Read More <img src="/images/arrow-blue.png" alt="" /></a>
            </div>
            <hr>
          </div>
          <!-- END News Entry  -->
          <!-- News Entry  -->
          <div class="news-entry">
            <div class="news-entry-header">

              <div class="row nopadding">
                <div class="col-lg-2  col-md-1 col-sm-1 nopadding">
                  <div class="news-date">
                    <span class="month"><%= news[1].fields.date.date('MMM') %></span> <br>
                    <span class="day"><%= news[1].fields.date.date('DD') %></span>
                  </div>

                </div>
                <div class="col-lg-10 col-md-11 col-sm-11">
                    <a href="/news/<%= news[1].fields.slug %>"><h5><%= news[1].fields.title %></h5></a>
                </div>
              </div>
            </div>
            <div class="row news-excerpt nopadding">
              <p>
                <%= prune(striptags(news[1].fields.body), 250, "...") %>
              </p>
            </div>
            <div class="row clearfix pull-right nopadding">
                <a href="/news/<%= news[1].fields.slug %>">Read More <img src="/images/arrow-blue.png" alt="" /></a>
            </div>
            <hr>
          </div>
          <!-- END News Entry  -->
          <div class="row clearfix pull-left nopadding">
            <a href="/news">View all News &amp; Events</a>
          </div>
        </div>
       </div>
      </div>
    </div><!-- END row  -->
  </div><!-- END container  -->
</div><!-- END container-fluid  -->
