<div class="container-fluid mobile-nopadding">
<div class="container padding mobile-nopadding">
<div id="slider">
    <% if (alert) { %>
      <div id="alert" class="alertonmobile alert alert-danger " role="alert" style="display: block;">
          <span id="alertDismiss" data-slug="<%= alert.slug %>"  class="glyphicon glyphicon-remove pull-right" style="cursor: pointer;"></span>
          <div class="row">
            <div class="col-lg-2">
              <h5><img src="images/alert-icon.png" data-src="" alt="" class="alert-icon"><%= alert.alertType %></h5>
            </div>
            <div class="col-lg-10">
              <p class="nopadding"><%- alert.alertContent %></p>
            </div>
          </div>
      </div>
    <% } %>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
          <% for(i=0; i<slider.length; i++) { %>
            <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= slider[i].status %>"></li>
				  <% } %>
				</ol>

				<div class="carousel-inner">
          <% slider.forEach(function(slide) { %>
            <div class="item <%= slide.status %>">
							<img src="<%= slide.imageAsset.file.url %>" data-src="" alt="">
							<div class="container">
								<div class="carousel-caption">
									<h1><%- slide.marketingMessage %></h1>
										<p class="btn"><a class="" href="<%= slide.buttonUrl %>" role="button"><%= slide.buttonText %> <img src="/images/arrow.png" alt=""></a>  </p>
                  <p><%- slide.secondaryMessage %></p>
								</div>
							</div>
						</div>
          <% }); %>
				<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
  </div>
</div><!-- END Slider -->
</div><!-- END Container -->
</div> <!-- END Container-fluid -->
