<div class="container-fluid padding0">
<div id="social-media">
  <!-- Social Media Tabs -->
  <!-- Navigation -->
  <div class="non-mobile">
    <div class="container-fluid social-media-header padding0">
      <div class="container">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#facebook"><img src="/images/social-tab-icon.png" alt="" class="social-tab-icon"/>Facebook</a></li>
          <li><a data-toggle="tab" href="#twitter"><img src="/images/social-tab-icon.png" alt="" class="social-tab-icon"/>Twitter</a></li>
          <li><a data-toggle="tab" href="#youtube"><img src="/images/social-tab-icon.png" alt="" class="social-tab-icon"/>Youtube</a></li>
        </ul>
      </div>
    </div>

  <!-- Content -->
  <div class="container">
    <div id="social-media-content" class="tab-content">
        <div id="facebook" class="tab-pane fade in active">
          <div class="row nopadding">
            <% facebook.data.forEach(function(post) { %>
              <div class="col-lg-3 col-md-3 col-sm-3 ">
                <div class="spacer"></div>
                <% if (post.story == null) { %>
                <h5 class="entry-title"><a href="http://www.facebook.com/<%= post.id %>">Graduate School USA</a></h5>
                <% } else { %>  <h5 class="entry-title"><a href="http://www.facebook.com/<%= post.id %>"><%= post.story %></a></h5> <% } %>

                  <p><span class="glyphicon glyphicon-time"></span> <%= post.created_time %></p>
                  <p><%= post.message %></p>
                  <hr class="divider">
                  <p><a href="http://www.facebook.com/<%= post.id %>" target="_blank">Read the full story</a></p>

              <div class="spacer"></div>
              </div>
            <% }) %>
          </div>
        </div>
        <div id="twitter" class="tab-pane fade in">
          <div class="row">
            <% for (var i = 0; i < tweets.length; i++) { %>
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="spacer"></div>
                  <p><%- tweets[i].text %></p>
                  <p><span class="glyphicon glyphicon-time"></span>  <%= tweets[i].created_at %></p>
                <div class="spacer"></div>
                </div>
              <% } %>
          </div>
        </div>
        <div id="youtube" class="tab-pane fade in">
          <p>
            empty
          </p>
        </div>
    </div><!--End of Content -->
  </div>
  </div><!-- END of Navigation -->
  <!-- End of Social Media tabs -->
</div><!-- End of Social Media -->
</div> <!-- END Container-fluid -->
