<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Graduate School USA | </title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <style type="text/css">
  body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
  }

  a {
    color: #337AB7;
    text-decoration:none;
    outline: none;
  }

  h1 {
    color: #337AB7;
    font-size: 24px;
  }

  h2 {
    color: #337AB7;
    font-size: 18px;
    padding: 10px 0 5px 0;
  }

  p.footer {
    color: #DDD;
    font-size: 11px;

  }

  </style>


</head>
<body>

  <h1>Request  a Duplicate <%= firstName %></h1>
  <p>First Name : <strong><%= firstName %> </strong> </p>
  <p>First Name : <strong><%= firstName %> </strong> </p>
  <p>Last Name : <strong><%= lastName %> </strong></p>
  <p>Street: <strong><%= street %></strong></p>
  <p>Suite: <strong> <%= suite %> </strong></p>
  <p>State: <strong> <%= state %> </strong></p>
  <p>Zip: <strong> <%= zip %> </strong></p>
  <p>Phone: <strong>  <%= phone %> </strong></p>
  <p>Email:<strong>  <%= email %></strong></p>
  <p>Instructor<strong><%= instructor %> </strong> </p>
  <p>Course Code:<strong> <%= courseCode %> </strong></p>
  <p>Course Title:<strong> <%= courseTitle %> </strong></p>
  <p>Start Date:<strong>  <%=startDate%></strong></p>
  <p>End Date:<strong><%= endDate %> </strong> </p>
  <p>Course Location:<strong> <%= courseLocation %> </strong></p>


  <hr>
  <br>
  <p class="footer">Sent from GraduateSchool.edu - Request for Estimate form.</p>
</div>
</body>
</html>
