<table>
    <tr>
        <td>First Name</td>
        <td><%= name.first %> </td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><%= name.last %> </td>
    </tr>
    <tr>
        <td>Email</td>
        <td><%=email%> </td>
    </tr>
    <tr>
        <td>Phone No</td>
        <td><%= phone %> </td>
    </tr>
    <tr>
        <td>Comments</td>
        <td><%= comments %> </td>
    </tr>
</table>
