<h1>Contact Us</h1>

<h2>Name and Addres</h2>
<div>First Name</div>
<div><%= address.firstName %></div>
<div>Last Name</div>
<div><%= address.lastName %></div>
<div>Organization</div>
<div><%= address.organization %></div>
<div>Street</div>
<div><%= address.street %></div>
<div>Suite</div>
<div><%= address.suite %></div>
<div>City</div>
<div><%= address.city %></div>
<div>State</div>
<div><%= address.state %></div>
<div>Zip Code</div>
<div><%= address.zip %></div>
<div>Country</div>
<div><%= address.country %></div>

<h2>Contact</h2>
<div>Telephone Number</div>
<div><%= contact.phone %></div>
<div>Fax Number</div>
<div><%= contact.fax %></div>
<div>Email Address</div>
<div><%= contact.email %></div>

<h2>Location</h2>
<div>GS Location</div>
<div><%= location.gs %></div>
<div>Customer Location</div>
<div><%= location.customer %></div>
<div>Other Location</div>
<div><%= location.other %></div>

<h2>Courses</h2>
<div>Course Names</div>
<div><%= course.names %></div>
<div>Student Count</div>
<div><%= course.studentCount %></div>
<div>Customization</div>
<div><%= course.customization %></div>
<div>Instructor</div>
<div><%= course.instructor %></div>

<h2>Additional</h2>
<div>How did you hear about us</div>
<div><%= hearAbout %></div>
<div>Comments</div>
<div><%= comments %></div>
