<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Graduate School USA | </title>

  <style type="text/css">
  body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
  }

  a {
    color: #337AB7;
    text-decoration:none;
    outline: none;
  }

  h1 {
    color: #337AB7;
    font-size: 24px;
  }

  h2 {
    color: #337AB7;
    font-size: 18px;
    padding: 10px 0 5px 0;
  }

  p.footer {
    color: #999;
    font-size: 11px;

  }
  </style>
</head>
<body>
  <h1>Certificate Program Information</h1>
  <p>Program: <strong><%= selectBox %></strong> </p>
  <p>If other: <strong><%= other %></strong> </p>
  <hr>
  <h1>Student Information</h1>
  <p>First Name: <strong><%= firstName %></strong> </p>
  <p>Middle Initial: <strong><%= mi %></strong> </p>
  <p>Last Name: <strong><%= lastName %></strong> </p>
  <p>Former Last Name: <strong><%= formerLastName %></strong></p>
  <p>SSN: <strong><%= ssn %></strong></p>
  <p>Date of birth: <strong><%= dob %></strong></p>
  <% if (typeof certificate !== 'undefined' )  {  %>
    <p>Full name as it should appear on the certificate: <strong><%= certificate %></strong> </p>
  <% } %>
  <p>Street: <strong><%= streetAddress %></strong></p>
  <p>Suite: <strong><%= suite %></strong></p>
  <p>City: <strong><%= city %></strong></p>
  <p>State: <strong><%= state %></strong></p>
  <p>Zip Code: <strong><%= zip %></strong></p>
  <p>Country: <strong><%= country %></strong></p>
  <p>Email: <strong><%= email %></strong> </p>
  <p>Phone Number: <strong><%= phone %></strong> </p>
  <p>Comments: <strong><%= comment %></strong> </p>
  <hr>
  <br>
  <p class="footer">Sent from GraduateSchool.edu - <%= selectBox %> </p>
</div>
</body>
</html>
