Certificate Program Information
Program: <%= selectBox %>
If other: <%= other %>

Student Information

First Name : <%= firstName %>
Last Name : <%= lastName %>
Middle Initial : <%= mi %>
<% if (typeof certificate !== 'undefined' || formType === '/forms/certificate-program-progress-report' )  {  %>
  <p>Former Last Name: <strong><%= formerLastName %></strong></p>
<% } %>
SSN: <%= ssn %>
Date of birth: <%= dob %>
<% if (typeof certificate !== 'undefined' )  {  %>
  Full name as it should appear on the certificate: <%= certificate %>
  Expected date of completion: <%= doc %>
<% } %>
Street: <%= streetAddress %>
Suite: <%= suite %>
City: <%= city %>
State: <%= state %>
Zip Code: <%= zip %>
Country: <%= country %>
Email: <%= email %>
Phone Number: <%= phone %>
Comments: <%= comment %>

--
Sent from GraduateSchool.edu - Certificate program forms
