<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= title %></title>
    <meta charset="utf-8">
      <% include partials/head %>
    <script type="text/javascript" src="/javascripts/catalogs.js"></script>
    <link rel="stylesheet" href="/stylesheets/generic_detail.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    <% include partials/header %>
    <div id="main-container" class="container">
      <div class="row">
          <div class="row">
            <div class="col-lg-12">
              <div id="catalog-filters">
                <span class="filter-header pull-left">Filter catalogs: </span>
                <ul class="nav nav-pills">
                    <% entry.forEach(function(entrySection,num) { %>
                    <% if (num == 0) { %>
                      <li class="active"><a data-toggle="pill" href="#tab<%=num%>"><%- entrySection.catlogTitle %></a></li>
                    <% } else { %>
                      <li><a data-toggle="pill" href="#tab<%=num%>"><%- entrySection.catlogTitle %></a></li>
                    <% } %>
                  <% }); %>
                </ul>
                <span class="filter-header pull-right"><a href="/under-construction" class="archive"><span><img src="/images/archive-icon.png"/></span> Archive</a></span>
              </div>
            </div>
          </div> <!-- End Row -->
          <div class="tab-content">
            <% entry.forEach(function(entrySection,num) { %>
            <% if (num == 0) { %>
              <div id="tab<%=num%>" class="tab-pane fade in active">
            <% } else { %>
              <div id="tab<%=num%>" class="tab-pane fade">
            <% } %>
            <div class="wrapper">
              <% var categoryTitle = entrySection.catlogTitle.replace(/(<([^>]+)>)/ig, "");%>
              <h2><%= categoryTitle %></h2>
            </div>
              <div class="col-lg-6 col-md-6 col-sm-12" id="col1">
                <% entrySection.assetList.forEach(function(asset) { %>
                  <%  if (asset.displayInSecondColumn==false) {%>
                    <p class="asset" data-contenttype="<%= asset.catalogFilter %>"><a data-toggle="tooltip" title="<%= asset.description %>" data-placement="right" href="<%= asset.url %>">  <span><img src="/images/pdf.png"/></span> <%= asset.title %></a></p>
                  <% } %>
                <% }) %>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12" id="col2">
                <% entrySection.assetList.forEach(function(asset) { %>
                  <%  if (asset.displayInSecondColumn) {%>
                    <p class="asset" data-contenttype="<%= asset.catalogFilter %>"><a data-toggle="tooltip" title="<%= asset.description %>" data-placement="right" href="<%= asset.url %>">  <span><img src="/images/pdf.png"/></span> <%= asset.title %></a></p>
                  <% } %>
                <% }) %>
              </div>
            </div>
          <% }) %>
          </div> <!-- End tab-content -->
  </div> <!-- End row - main -->
    <!--/nutch_noindex-->
    <form>
      <div class="panel-group" id="accordion">
        <div class="form-inline">
          <div class="form-group"><p></p></div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading gs">
            <a class="accordion-toggle" id="collapse1Link" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              <h4 class="panel-title">CONTACT INFORMATION </h4>
            </a>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="form-wrap">
                <div class="form-inline">
                <span class="form-group">
                 <select id="prefix" class="form-control">
                   <option value="">Prefix</option>
                   <option value="Mr.">Mr.</option>
                   <option value="Mrs.">Mrs.</option>
                   <option value="Miss">Miss</option>
                   <option value="Ms.">Ms.</option>
                   <option value="Dr.">Dr.</option>
                 </select>
                </span>
                <span class="form-group">
                  <label for="txtFirstName">*First Name</label>
                  <input type="text" id="txtFirstName" class="form-control" tabindex="1">
                </span>
                <span class="form-group">
                  <label for="txtLastName">*Last Name</label>
                  <input type="text" id="txtLastName" class="form-control"  tabindex="2">
                </span>
                </div>
                <div class="form-inline">
                <span class="form-group">
                  <label for="txtOrganizaiton">*Organization</label>
                  <input type="text" id="txtOrganizaiton" class="form-control" size="50"  tabindex="3">
                </span>
                </div>
                <div class="form-inline">
                <span class="form-group">
                  <label for="txtStreet">Street Address</label>
                  <input type="text" id="txtStreet" class="form-control"  tabindex="4">
                </span>
                <span class="form-group">
                  <label for="txtSuite">Suite, Mail Stop</label>
                  <input type="text" id="txtSuite" class="form-control"  tabindex="5">
                </span>
                </div>
                <div class="form-inline">
                <span class="form-group">
                  <label for="txtCity">City</label>
                  <input type="text" id="txtCity" class="form-control"  tabindex="6">
                </span>
                <span class="form-group">
                  <label for="selState">State</label>
                  <!--nutch_noindex-->
                  <select id="selState" class="form-control"  tabindex="7">
                    <option value="">Select One</option>
                    <% for (i=0; i < states.length; i++) { %>
                    <option value="<%= states[i].abbreviation %>"><%= states[i].name %></option>
                    <% } %>
                  </select>
                    <!--/nutch_noindex-->
                  </span>
                  <span class="form-group">
                    <label for="txtZip">Zip</label>
                    <input type="text" id="txtZip" class="form-control"  tabindex="8">
                  </span>
                </div>
                <div class="form-inline">
                  <span class="form-group">
                    <label for="txtCountry">Country (if not U.S.)</label>
                    <input type="text" id="txtCountry" class="form-control"  tabindex="9">
                  </span>
                </div>
                <div class="form-inline">
                  <span class="form-group">
                    <label for="txtPhone">*Daytime Phone Number</label>
                    <input type="text" id="txtPhone" class="form-control"  tabindex="10">
                  </span>
                  <span class="form-group">
                    <label for="txtFax">Fax Number</label>
                    <input type="text" id="txtFax" class="form-control"  tabindex="11">
                  </span>
                </div>
                <div class="form-inline">
                  <span class="form-group">
                    <label for="txtEmail">*Email</label>
                    <input type="email" id="txtEmail" class="form-control" size="50"  tabindex="12">
                  </span>
                </div>
              </div><!-- contact information div -->
              <br>
              <button type="button" name="toCDI" id="toCDIButton"  tabindex="13" class="next-button">Next</button>

            </div><!-- END Panel-body -->
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading gs">
            <a class="accordion-toggle collapsed" id="collapse3Link" data-toggle="collapse" data-parent="#accordion" href="#collapse3" tabindex="30">
              <h4 class="panel-title">FORM SUBMISSION</h4>
            </a>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="form-wrap">
                <% hardCopyEntry.forEach(function(hardCopyCatalog) { %>
                <%= hardCopyCatalog.fields.catalogHardCopy %>
                <% }) %>

                <div id="onSiteInguiryCaptcha">
                  <div class="g-recaptcha" data-sitekey="6Lfj4AsTAAAAAB0NCpQUY3AEeoisB-iNUvzbFsbh" tabindex="33"></div>
                </div>
                <br>
                <button type="button" name="toCDI" id="backToCDIButton" tabindex="35">Previous</button>
                <button type="submit" id="submitForm" name="submitForm" value="submitForm" tabindex="34">Submit Request</button>
              </div> <!-- END Panel-body -->
            </div>
          </div>
        </div>
      </div>
    </form> <!-- END Form -->

</div> <!-- End Container -->
  <!-- Footer -->
  <% include partials/footer %>
  <!-- END Footer  -->
  <!-- Chat  -->
  <% include partials/chat %>
  <!-- END of Chat  -->
  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
  </script>
</body>
</html>
