<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= title %></title>
    <meta charset="utf-8">
      <% include partials/head %>
    <script type="text/javascript" src="/javascripts/catalogs.js"></script>
    <link rel="stylesheet" href="/stylesheets/generic_detail.css">
  </head>
  <body>
    <% include partials/header %>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="gs-tabs">
            <div class="tabs">
              <ul class="nav nav-tabs">
                <% entry.forEach(function(entrySection,num) { %>
                  <% if (num == 0) { %>
                    <li class="active"><a data-toggle="tab" href="#tab<%=i%>"><%=entrySection.catlogTitle %></a></li>
                  <% } else { %>
                    <li><a data-toggle="tab" href="#tab<%=i%>"><%=entrySection.catlogTitle %></a></li>
                  <% } %>
                <% }); %>
              </ul>
            </div>
            <div class="panel panel-default gs">
              <div class="panel-body">
                <div class="tab-content">
                  <% entry.forEach(function(entrySection,num) { %>
                  <% if (num == 0) { %>
                    <div id="tab<%=i%>" class="tab-pane fade in active">
                  <% } else { %>
                    <div id="tab<%=i%>" class="tab-pane fade">
                  <% } %>
                      <div class="wrapper">
                        <% entrySection.assetList.forEach(function(asset) { %>
                        <% = asset.title %>
                          <section>
                             <p class="asset" data-contenttype="<%= asset.catalogFilter %>"><a href=<%= asset.url %>  <span><img src="/images/pdf.png"/></span> <%= asset.title %></a></p>
                        </section>
                        <% }) %>
                      </div>
                    </div>
                <% }) %>
              </div> <!-- End tab-content -->
              </div>
            </div>
        </div> <!-- End GS-tabs -->
      </div> <!-- End column -->
    </div> <!-- End row -->
    <!--/nutch_noindex-->
  </div> <!-- End Container -->
  <!-- Footer -->
  <% include partials/footer %>
  <!-- END Footer  -->
  <!-- Chat  -->
  <% include partials/chat %>
  <!-- END of Chat  -->
</body>
</html>
