<!DOCTYPE html>
<html>
<head>
  <title><%= content.pageTitle %></title>
  <% include partials/head %>
  <link rel='stylesheet' href='/stylesheets/course_search.css' />

  <!-- Style fix for Link color - to be removed after -->
  <style media="screen">
    a:link, a:visited{
      color: #337AB7;
      text-decoration: none;
    }
    a:hover, a:active{
      color: #000;
      text-decoration: none;
      background-color: transparent;
    }
    a.button:link,
    a.button:visited {
      color: #FFF;
      background-position: 0px 15px;
    }
    a.button:hover,
    a.button:active {
      color: #FFF;
      background-position: 0px 15px;
      border: 1px solid transparent;
    }
  </style>
</head>
  <body>
    <% include partials/header %>
    <!-- Title Section -->
    <!-- <div class="container-fluid title">
      <div class="container">
        <div class="row clearfix">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h1 id="results-for">Results for </h1>
            <p> <img src="../images/homepage.png" alt="" /> Home / Search Results </p>
          </div>
          <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
            <div class="util">
              <ul>
                <li><a href="#"><img src="../images/print.png" alt="" /></a></li>
                <li><a href="#"><img src="../images/email-me.png" alt="" /></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div> -->
    <!-- END Title Section -->

    <!-- <h1><%= content.resultsSectionTitle %></h1> -->

    <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">
              <div class="filters">
                <div class="panel-group">
                  <div class="panel panel-default gs">
                    <div class="panel-heading gs">
                      <div class="row clearfix">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#refine-results"> Refine Results</a>
                          </h4>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                          <div class="refine">
                            <a href="#"><p class="clear">X<br>clear all</p></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="refine-results" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <input type="checkbox" name="G2G" value="" /> <strong>Guaranteed To Go</strong> <br>

                        <hr>
                      <span class="form-group">
                        <p>Location <a href="#" class="checkbox-clear">clear</a></p>
                        <select id="selLocation" class="form-control" >
                          <option value="">City, State</option>
                          <%
                            locationFacetsKeys = Object.keys(locationFacets);
                            locationFacetsKeysLength = locationFacetsKeys.length;
                            locationFacetsKeys.sort();
                            for (locationFacetsKeyCounter = 0; locationFacetsKeyCounter < locationFacetsKeysLength; locationFacetsKeyCounter++) {
                              locationFacetsKey = locationFacetsKeys[locationFacetsKeyCounter];
                          %>
                          <option value=""><%= locationFacetsKey%>  <%= "("+locationFacets[locationFacetsKey]+")"%></option>
                          <%
                          }
                          %>
                          </select>
                      </span>
                      <hr>
                      <p class="right">
                        <a class="blue" href="#" id="applyFilters">Apply</a>
                      </p>
                      <!--
                     <span class="form-group">
                        <p>Subject Area   <a href="#" class="checkbox-clear">clear</a> </p>
                        <select id="subjectArea" class="form-control" >
                          <option value="">All areas</option>
                          </select>
                      </span>
                      <hr>
                      <span class="form-group">
                        <p>Delivery Method <a href="#" class="checkbox-clear">clear</a></p>
                        <select id="deliveryMethod" class="form-control" >
                          <option value="">All methods</option>
                          </select>
                      </span>
                      <hr> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="panel panel-default gs">
              <div class="panel-heading gs"><h4>Showing 1 of <%= result.totalPages%> Results</h4></div>

              <div class="panel-body">
                <% if (result == null || result.courses == null || result.courses.length == 0) { %>
                  <h3>No matches for <span id="results-for-alert"></span>.</h3>
                  <h3>Please try again.</h3>

                  <% } else { %>


                  <% for(var i=0; i<result.courses.length; i++) { %>

                          <% if ( result.courses[i].description.text !== null ) { %>
                            <% if (result.courses[i].code === null) { result.courses[i].code = result.courses[i].id.slice(0, -3); }%>
                            <div id="course-result">
                              <h3><a href="/courses/<%= result.courses[i].id %>"><%= result.courses[i].code %> - <%= result.courses[i].title %></a></h3>
                            </div>
                            <div><%= prune(striptags(result.courses[i].description.text), 300, "...") %></div>
                            <div class="course-id"> <img src="../images/course-id-icon.png" alt="" /> Code: <strong><%= result.courses[i].code %></strong> </div>

                            <hr>
                          <% } %>
                  <% } %>
                <% } %>


                <!-- <p>
                  <a class="btn btn-primary button" href=''>
                    <span class="glyphicon glyphicon-chevron-left"></span><%= content.previousButton %>
                  </a>
                  <a class="btn btn-primary button" href=''>
                    <%= content.nextButton %><span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </p> -->
              </div>
            </div>
                <div id="pagination">
                  <div class="row clearfix">
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 spacer pull-left">
                     <div class="form-group">
                            <label class="control-label col-md-5 col-xs-3" for="itemsPerPage"> Items per page:</label>
                            <div class="col-md-4 col-xs-2 ">
                              <select id="itemsPerPage" class="form-control">
                                <option value="">100</option>
                                <option value="">50</option>
                                <option value="">20</option>
                                <option value="">10</option>
                              </select>
                            </div>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 spacer pull-right ">
                      <nav>
                        <ul class="pagination">
                          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"> &#60; Previous</span></a></li>
                          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li>
                            <a href="#" aria-label="Next">
                              <span aria-hidden="true"> Next &#62; </span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>

            </div>
          </div>
     </div> <!-- END container -->

      <% include partials/chat %>
    <% include partials/footer %>
  </body>
</html>
