<!DOCTYPE html>
<html>
<head>
  <title> Graduate School USA | <%= content.pageTitle %></title>
  <% include partials/head %>
  <script type="text/javascript" src="/javascripts/course_detail.js"></script>
  <link rel="stylesheet" href="/stylesheets/course_detail.css">
</head>
<body>
<% include partials/header %>
<div id="printable" class="container padding0 nopadding-mobile">

  <div class="row nopadding">
    <div id="sidebar" class="col-lg-3 col-md-3 col-sm-12">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!-- COURSE DETAIL -->
            <div class="panel-group">
              <div class="panel panel-default course-detail">
                <div class="panel-heading course-detail">
                    <a data-toggle="collapse" href="#course-detail"><h4 class="panel-title"><%= content.courseDetailSectionTitle %></h4></a>
                </div>
                <div id="course-detail" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 mobile-nopadding">
                        <table class="details">
                        <tr><th><%= content.courseDetailTitles[0] %></th><td><%= courseData.class.code %></td></tr>
                        <tr><th><%= content.courseDetailTitles[1] %></th><td><%= courseData.class.type %></td></tr>
                        </table>
                     </div> <!-- End of left column  -->
                     <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 mobile-nopadding">
                        <table class="details">
                          <tr>
                            <th><%= content.courseDetailTitles[2] %></th>
                            <td>
                              <% if (courseData.class.length.value==0 || courseData.class.length.interval=='Variable') { %>
                                <%= courseData.class.interval %>
                              <% } else { %>
                                <%= courseData.class.length.value %> <%= courseData.class.length.interval %>(s)
                              <% } %>
                            </td>
                          </tr>
                          <tr>
                            <th><%= content.courseDetailTitles[3] %></th>
                            <td><% if(courseData.class.credit) { %>
                              <%= courseData.class.credit.value %> <%=courseData.class.credit.type %>
                              <% } %>
                              </td>
                          </tr>
                        </table>
                      </div> <!-- End of right column  -->
                    </div> <!-- End of Row  -->
                  </div>
                </div>
              </div>
            </div> <!-- End Course Detail panel group -->
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- RELATED LINKS -->
        <div class="panel-group non-mobile">
          <div class="panel panel-default related-links">
            <div class="panel-heading related-links">
                <a data-toggle="collapse" href="#related-links"><h4 class="panel-title"><%= content.linksSectionTitle %></h4></a>
            </div>
            <div id="related-links" class="panel-collapse collapse in">
              <div class="panel-body fix">
                <ul>
                  <% content.linksSection.forEach(function(link) { %>
                    <li><a href="<%= link.url %>"><%= link.name %></a></li>
                    <hr>
                  <% }); %>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- End Related links panel group -->
        </div>
      </div>
    </div> <!-- End of SIDEBAR / Left Column -->
    <!-- Right Column -->
    <div id="courseContent" class="col-lg-9 col-md-9 col-sm-12">

    <!-- COURSE SESSSION SCHEDULE TABLE -->
    <div class="non-mobile">
    <div class="table-responsive">
      <!-- LEGEND-->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding legend">
        <div><span class="legend-title">Legend</span>
          <ul>
            <li><span class="label label-info">O</span>Registration open</li>
            <li><span class="label label-danger">C</span>Registration closed</li>
            <li><span class="label label-success">G</span>Guaranteed to Go</li>
          </ul>
            <a id="multipleRegistrationNonMobileIcon"href="#" data-toggle="modal" data-target="#multipleRegistrationModal"><span class="glyphicon glyphicon-info-sign"></span></a>
        </div>

      </div> <!-- End of Legend -->
        <!-- START modal popup container -->
        <div class="modal fade" id="multipleRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" id="modalBody">Do you need to enroll others? Do you need to register multiple people? Call our Customer Service Center at 888-744-4723 for assistance.</div>
                    <div class="modal-footer">
                        <a href="#" class="blueish" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div><!-- END modal popup container -->
        <table id="courseSessionTable" class="table table-striped session-schedule" data-totaltr="<%= courseData.session.length %>">
          <thead>
            <tr>
              <th><%= content.sessionTable[0] %></th>
              <th><%= content.sessionTable[1] %></th>
              <th><%= content.sessionTable[2] %></th>
              <th><%= content.sessionTable[3] %></th>
              <th></th>
            </tr>
            <% if (courseData.session.length === 0) { %>
                <tr class="course-message"><td colspan="5">
                  <% if (true === courseData.isLeadershipCourse) { %>
                    <a href=<%= courseData.leadershipCourseScheduleLink %>><%= content.leadershipCourseScheduleLinkText %></a>
                  <% } else if(courseData && courseData.class && courseData.class.type && courseData.class.type.indexOf('Classroom - Evening') > -1 ) {%>
                    <div class="center position-fixer">
                      <p>This Course is currently not scheduled. For further information, click the Contact Us button below.</p>
                        <div class="dropdown">
                          <button class="dropbtn underlined"><img src="/images/contact-us.png" alt="" />Contact Us</button>
                          <div class="dropdown-content">
                            <ul class="left">
                                <li data-placement="left" data-toggle="tooltip" title="Call Graduate School">
                                    <a id="nav-menu-contact-us-phone" href="tel:+18887444723"><img src="/images/call-us.png" alt="" />(888) 744-4723</a>
                                </li>
                                <li data-placement="left" data-toggle="tooltip" title="Fax Graduate School">
                                    <a id="nav-menu-contact-us-fax" href="#"><img src="/images/fax-us.png" alt=""/>(866) 329-4723</a>
                                </li>
                                <li data-placement="left" data-toggle="tooltip" title="Email Graduate School or leave feedback">
                                    <a id="nav-menu-contact-us-email" href="/forms/contact-us"><img src="/images/email-us.png" alt="" />Contact GS</a>
                                </li>
                                <li data-placement="left" data-toggle="tooltip" title="Chat with Graduate School">
                                    <a id="nav-menu-contact-us-chat" href="https://livechat.boldchat.com/aid/391752780525725401/bc.chat?resize=true&amp;cbdid=387983771792672006" target="_blank" onclick="window.open((window.pageViewer &amp;&amp; pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&amp;' : '?') + 'url=' + escape(document.location.href)), 'Chat391752780525725401', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;"><img src="/images/chat-with-us.png" alt="" />Chat</a>
                                </li>
                            </ul>
                          </div>
                        </div>
                    </div>
                  <% } else { %>
                    <div class="center padding10f">
                      <%- content.noSessionsError %>
                    </div>
                  <% } %>

                </td></tr>
            <% } else { %>
            <% courseData.session.forEach(function(session, current) { %>
              <% if (courseData.isOnlineCourse == true) { %>

              <tr class="courseDetailSessionRow" data-rowhide="<%= session.hide %>">
                <td>Course available after purchase</td>
                <td></td>
                <td>$<%= session["tuition"] %></td>
                <td></td>
                <td><button class="register" type="button" name="button" id="registerButton<%= current %>" onclick="ga('send', 'event', 'register', 'sign-up', '<%= session["registrationUrl"] %>');location.href='<%= session["registrationUrl"] %>'"><%= content.registerButton %></button></td>
              </tr>
              <% } else { %>
              <tr class="courseDetailSessionRow" data-rowhide="<%= session.hide %>">
                <td> <%= session["startDate"].slice(0,-6) %> - <%= session["endDate"]%> <br/>
                    <% if (session["startTime"] !== null || session["endTime"] !== null) { %>
                      <%= session["startTime"]%> - <%= session["endTime"]%>
                    <% } %>
                    <% if (session["days"] !== null) { %>
                    , <%= session["days"] %>
                    <% } %>
                </td>
                <td>
                  <%= session.location["city"]%>
                  <% if (session.location["state"]) { %>
                      , <%= session.location["state"]%>
                  <% } %>
                  <% if((typeof(session.location["address1"])!='undefined') && typeof(session.location["address2"])!='undefined') {%>
                    <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address1"] +', '+ session.location["address2"] +', '%> <%= session.location["city"]  +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'>
                  <% } else if(typeof(session.location["address1"])!='undefined') {%>
                      <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address1"] +', '%> <%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'>
                  <% } else if(typeof(session.location["address2"])!= 'undefined') {%>
                      <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address2"] +', '%> <%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'>
                  <% } else {%>
                      <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address2"] +', '%> <%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'>
                  <%}%>
                </td>
                <td> $<%= session["tuition"]%></td>
                <td class="statusData">
                  <% if (session["status"] === "C")  {%>
                    <% if ((session["scheduleAvailable"] === session["scheduleMaximum"]) || session.epPastRegDeadline) { %>
                      <span class="label label-danger">C</span>
                    <% } else { %>
                    <span class="label label-success">G</span>
                    <% } %>
                  <% } else { %>
                    <span class="label label-info">O</span>
                  <% } %>
                </td>
                <% if (session["status"] === 'S' && session["scheduleAvailable"] === session["scheduleMaximum"]) { %>
                  <td></td>
                <% } else if (session["status"] === 'C' && (session["scheduleAvailable"] === session["scheduleMaximum"] || (session.epPastRegDeadline))) { %>
                  <td></td>
                <% } else { %>
                  <td><button class="register" type="button" name="button" onclick="ga('send', 'event', 'register', 'sign-up', '<%= session["registrationUrl"] %>');location.href='<%= session["registrationUrl"] %>'"><%= content.registerButton %></button></td>
                <% } %>
              </tr>

            <%} }); %>
            <tr>
              <td colspan="5" class="show-more">
                <span class="display-of-sessions">Displaying <span id="currentCount"></span> of <span id="totalCount"><%= courseData.session.length %> sessions</span> </span>
                <a id="loadMore" class="blueish"> Show All </a>  <a id="showLess" class="blueish"> Show Less</a>
              </td>
            </tr>
          <% } %>
          </thead>
        </table>
      </div>

    </div> <!-- End of Non-Mobile Course Session Schedule table -->
    <div class="spacer non-mobile"></div>
    <div class="spacer10 mobile"></div>
      <!-- COURSE RELATED CONTENT TABS -->
      <!-- Navigation -->
      <div id="course-information" class="non-mobile">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#course-overview"><img src="../images/course-overview.png" alt="" /><%= content.courseInfoTitles[0] %></a></li>
            <% if (courseData.class.objective) { %>
            <li><a data-toggle="tab" href="#who-should-attend"><img src="../images/who-should-attend.png" alt="" /><%= content.courseInfoTitles[1] %></a></li>
            <% } %>
            <% if (courseData.class.outcomes && (courseData.class.outcomes.length > 0)) { %>
              <li><a data-toggle="tab" href="#learning-outcomes"><img src="../images/learning-outcomes.png" alt="" /><%= content.courseInfoTitles[2] %></a></li>
            <% } %>
            <% if ( courseData.syllabus &&  courseData.syllabus.fields &&  courseData.syllabus.fields.syllabusContent ) { %>
              <li><a data-toggle="tab" href="#course-outline"><img src="../images/course-outline.png" alt="" /><%= content.courseInfoTitles[3] %></a></li>
            <% } %>
          </ul>
      <!-- Content -->
      <div id="course-information-content" class="tab-content">
          <div id="course-overview" class="tab-pane fade in active">
            <h3><%= content.courseInfoTitles[0] %></h3>
            <p><%- courseData.class.description.formatted %></p>
          </div>
          <% if (courseData.class.objective) { %>
            <div id="who-should-attend" class="tab-pane fade">
              <h3><%= content.courseInfoTitles[1] %></h3>
              <p><%- courseData.class.objective %></p>
            </div>
          <% } %>
          <% if (courseData.class.outcomes && (courseData.class.outcomes.length > 0)) { %>
            <div id="learning-outcomes" class="tab-pane fade">
              <h3><%= content.courseInfoTitles[2] %></h3>
              <p>
                <ul>
                    <% courseData.class.outcomes.forEach(function(outcome) { %>
                      <% if (outcome) { %>
                      <li><%- outcome %></li>
                      <% } %>
                    <% }); %>
                </ul>
              </p>
            </div>
          <% } %>
          <% if ( courseData.syllabus &&  courseData.syllabus.fields &&  courseData.syllabus.fields.syllabusContent ) { %>
            <div id="course-outline" class="tab-pane fade">
              <h3><%= content.courseInfoTitles[3] %></h3>
              <%- courseData.syllabus.fields.syllabusContent %>
          <% } %>
          </div>
      </div><!--End of Content -->
      </div><!-- END of Navigation -->
    <!-- End of Course Related content tabs -->
    </div><!-- End of Right Column -->
    </div><!-- End of Row -->

    <!-- MOBILE ELEMENTS-->
    <!-- COURSE SESSSION SCHEDULE: Mobile -->
    <div class="row mobile nopadding">

      <div id="sidebar" class="col-lg-12 col-md-12 col-sm-12 padding">
          <div class="panel-group" id="list-of-sessions">
            <div class="panel panel-default course-detail">
              <div class="panel-heading course-detail">
                  <a data-toggle="collapse" href="#session-schedule-mob"><h4 class="panel-title"><%= content.sessionTable[0] %></h4></a>
              </div>
              <div id="session-schedule-mob" class="panel-collapse collapse in">
                <div class="panel-body nopadding">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile-nopadding">

                      <% if (courseData.session.length === 0) { %>
                          <p class="padding10f">
                            <% if (true === courseData.isLeadershipCourse) { %>
                              <a href=<%= courseData.leadershipCourseScheduleLink %>><%= content.leadershipCourseScheduleLinkText %></a>
                            <% } else if(courseData && courseData.class && courseData.class.type && courseData.class.type.indexOf(classTypes.evening) > -1 ) {%>
                                  <p class="center">This Course is currently not scheduled. For further information, click the Contact Us button below.</p>
                                    <div class="center">
                                      <div class="dropdown">
                                        <button class="dropbtn underlined"><img src="/images/contact-us.png" alt="" />Contact Us</button>
                                        <div class="dropdown-content">
                                          <ul class="left">
                                              <li data-placement="top" data-toggle="tooltip" title="Call Graduate School">
                                                  <a id="nav-menu-contact-us-phone" href="tel:+18887444723"><img src="/images/call-us.png" alt="" />(888) 744-4723</a>
                                              </li>
                                              <li data-placement="top" data-toggle="tooltip" title="Fax Graduate School">
                                                  <a id="nav-menu-contact-us-fax" href="#"><img src="/images/fax-us.png" alt=""/>(866) 329-4723</a>
                                              </li>
                                              <li data-placement="top" data-toggle="tooltip" title="Email Graduate School or leave feedback">
                                                  <a id="nav-menu-contact-us-email" href="/forms/contact-us"><img src="/images/email-us.png" alt="" />Contact GS</a>
                                              </li>
                                              <li data-placement="top" data-toggle="tooltip" title="Chat with Graduate School">
                                                  <a id="nav-menu-contact-us-chat" href="https://livechat.boldchat.com/aid/391752780525725401/bc.chat?resize=true&amp;cbdid=387983771792672006" target="_blank" onclick="window.open((window.pageViewer &amp;&amp; pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&amp;' : '?') + 'url=' + escape(document.location.href)), 'Chat391752780525725401', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;"><img src="/images/chat-with-us.png" alt="" />Chat</a>
                                              </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                            <% } else { %>
                              <div class="center">
                                <%- content.noSessionsError %>
                              </div>

                            <% } %>
                          </p>
                      <% } else { %>
                      <% courseData.session.forEach(function(session,i) { %>
                          <div class="panel-group session-schedule-mob mobile" id="accordion">
                              <div class="panel panel-default single-session mob-courseDetailSessionRow" data-rowhide="<%= session.hide %>">
                                  <div class="panel-heading" id="session-title<%= i+1 %>">
                                          <a data-toggle="collapse" href="#session-title<%= i+1 %>" class="accordion-toggle sessionExpand collapsed" data-target="#session<%= i+1 %>" data-rowhide="<%= session.hide %>">
                                            <h4 class="panel-title session-schedule-mob">
                                              <div class="row">
                                                <% if (courseData.isOnlineCourse == true) { %>
                                                  <div class="col-xs-12">
                                                    <p>Course available after purchase</p>
                                                  </div>
                                                <% } else { %>
                                                <div class="col-xs-11">
                                                <span>
                                                  <%= session["startDate"].slice(0,-6) %> - <%= session["endDate"]%>
                                                   <% if (session["startTime"] !== null || session["endTime"] !== null) { %>
                                                     <%= session["startTime"]%> - <%= session["endTime"]%>
                                                   <% } %>
                                                 </span>
                                               </div>
                                                <div class="col-xs-12">
                                                  <hr class="course-session">
                                                  <span><%= session.location["city"]%>, <%= session.location["state"]%></span>
                                                </div>
                                                <% } %>
                                              </div>
                                          </h4></a>
                                  </div>
                                  <div id="session<%= i+1 %>" class="mySession panel-collapse collapse" data-rowhide="<%= session.hide %>">
                                      <div class="panel-body nopadding">
                                      <table id="mob-courseSessionTable" class="session-schedule-mob" data-totaltr="<%= courseData.session.length %>">
                                        <% if (courseData.isOnlineCourse == false) { %>
                                          <tr><th class="mob-header"><%= content.sessionTable[0] %></th><td><% if (session["days"] !== null) { %><%= session["days"] %><% } %></td></tr>
                                          <tr><th class="mob-header"><%= content.sessionTable[1] %></th>
                                            <td>
                                              <%= session.location["city"]%>
                                              <% if (session.location["state"]) { %>
                                                  , <%= session.location["state"]%>
                                              <% } %>
                                              <% if((typeof(session.location["address1"])!='undefined') && typeof(session.location["address2"])!='undefined') {%>
                                                <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address1"] +', '+ session.location["address2"] +', '%> <%= session.location["city"]  +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'>
                                              <% } else if(typeof(session.location["address1"])!='undefined') {%>
                                                  <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address1"] +', '%> <%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'>
                                              <% } else if(typeof(session.location["address2"])!= 'undefined') {%>
                                                  <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address2"] +', '%> <%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'>
                                              <% } else {%>
                                                  <span class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address2"] +', '%> <%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'>
                                              <%}%>
                                            </td>
                                          </tr>
                                        <% } %>
                                        <tr><th class="mob-header"><%= content.sessionTable[2] %></th><td>$<%= session["tuition"]%></td></tr>
                                        <% if (courseData.isOnlineCourse == false) { %>
                                          <tr><th class="mob-header"><%= content.sessionTable[3] %></th><td class="statusData-mob">
                                          <% if (session["status"] === "C")  {%>
                                            <% if ((session["scheduleAvailable"] === session["scheduleMaximum"]) || session.epPastRegDeadline) { %>
                                              <span class="label label-danger">C</span>
                                            <% } else { %>
                                            <span class="label label-success">G</span>
                                            <% } %>
                                          <% } else { %>
                                            <span class="label label-info">O</span>
                                          <% } %>
                                          </td></tr>
                                        <% } %>
                                        </table>

                                          <!-- Register button -->
                                        <div class="register-button col-lg-12">
                                          <% if (session["status"] === 'S' && session["scheduleAvailable"] === session["scheduleMaximum"]) { %>
                                            <td></td>
                                          <% } else if (session["status"] === 'C' && ((session["scheduleAvailable"] === session["scheduleMaximum"]) || session.epPastRegDeadline)) { %>
                                            <td></td>
                                          <% } else { %>
                                            <td><button class="register-mob" type="button" name="button" onclick="ga('send', 'event', 'register', 'sign-up', '<%= session["registrationUrl"] %>');location.href='<%= session["registrationUrl"] %>'"><%= content.registerButton %></button></td>
                                          <% } %>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <% }); %>
                          <div class="panel-heading show-more">
                                  <span class="display-of-sessions">Displaying <span id="mCurrentCount"></span> of <span id="totalCount"><%= courseData.session.length %></span> </span>
                                  <a href="#list-of-sessions" id="mob-showAll" class="blueish">Show All</a>   <a id="mob-showLess" class="blueish">Show Less</a>
                          </div>
                        <% } %>


                   </div> <!-- End of column  -->
                </div>
              </div>
            </div>
          </div>
      <div class="row padding10">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding10 legend-mobile">
          <div><span class="legend-title">Legend</span>
            <ul>
              <li><span class="label label-info">O</span>Registration open</li>
              <li><span class="label label-danger">C</span>Registration closed</li>
              <li><span class="label label-success">G</span>Guaranteed to Go class/session</li>
                <li><a href="#" data-toggle="modal" data-target="#multipleRegistrationMobileModal"><span class="glyphicon glyphicon-info-sign"></span></a></li>
            </ul>
          </div>
        </div> <!-- End of Legend -->
      </div><!-- End of Row -->
          <!-- START modal popup container -->
          <div class="modal fade" id="multipleRegistrationMobileModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-body" id="modalBody">Do you need to enroll others? Do you need to register multiple people? Call our Customer Service Center at 888-744-4723 for assistance.</div>
                      <div class="modal-footer">
                          <a href="#" class="blueish" data-dismiss="modal">Close</a>
                      </div>
                  </div>
              </div>
          </div><!-- END modal popup container -->

          <div class="spacer mobile"></div>
    </div><!-- End Mobile Course Session Schedule table -->
      <div class="spacer non-mobile"></div>

    <!-- COURSE INFORMATION: Mobile-->
    <div id="sidebar" class="col-lg-12 col-md-12 col-sm-12 padding">
      <div class="panel-group mob-course-information mobile" id="accordion-mobile">
              <div class="panel panel-default margin-reset nopadding">
                  <div class="panel-heading">
                          <a data-toggle="collapse" href="#accordion-mobile" id="accordion1" data-parent="#accordion-mobile" data-target="#acc-course-overview"><h4 class="panel-title"><img src="../images/course-overview.png" alt="" /><%= content.courseInfoTitles[0] %></h4></a>
                  </div>
                  <div id="acc-course-overview" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <p><%- courseData.class.description.formatted %></p>
                      </div>
                  </div>
              </div>
              <% if (courseData.class.objective) { %>
              <div class="panel panel-default margin-reset nopadding">
                  <div class="panel-heading">
                      <a data-toggle="collapse" href="#accordion-mobile" id="accordion2" data-parent="#accordion-mobile" data-target="#acc-who-should-attend"><h4 class="panel-title"><img src="../images/who-should-attend.png" alt="" /><%= content.courseInfoTitles[1] %></h4></a>
                  </div>
                  <div id="acc-who-should-attend" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p><%- courseData.class.objective %></p>
                      </div>
                  </div>
              </div>
              <% } %>
              <% if (courseData.class.outcomes && (courseData.class.outcomes.length > 0)) { %>
              <div class="panel panel-default margin-reset nopadding">
                  <div class="panel-heading">
                        <a data-toggle="collapse" href="#accordion-mobile" id="accordion3" data-parent="#accordion-mobile" data-target="#acc-learning-outcomes"><h4 class="panel-title"><img src="../images/learning-outcomes.png" alt="" /><%= content.courseInfoTitles[2] %></h4></a>
                  </div>
                  <div id="acc-learning-outcomes" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>
                          <ul>
                              <% courseData.class.outcomes.forEach(function(outcome) { %>
                                <% if (outcome) { %>
                                <li><%- outcome %></li>
                                <% } %>
                              <% }); %>
                          </ul>
                        </p>
                      </div>
                  </div>
              </div>
              <% } %>
              <% if ( courseData.syllabus &&  courseData.syllabus.fields &&  courseData.syllabus.fields.syllabusContent ) { %>
              <div class="panel panel-default margin-reset nopadding">
                  <div class="panel-heading">
                        <a data-toggle="collapse" href="#accordion-mobile" id="accordion4" data-parent="#accordion-mobile" data-target="#acc-course-outline"><h4 class="panel-title"><img src="../images/course-outline.png" alt="" /><%= content.courseInfoTitles[3] %></h4></a>
                  </div>
                  <div id="acc-course-outline" class="panel-collapse collapse">
                      <div class="panel-body">
                        <%- courseData.syllabus.fields.syllabusContent %>
                      </div>
                  </div>
              </div>
              <% } %>
          </div>
    </div> <!-- END Course Informaiton Mobile-->

    <!-- RELATED LINKS: MOBILE -->
    <div id="sidebar" class="col-lg-12 col-md-12 col-sm-12 padding mobile">
      <div class="panel-group">
        <div class="spacer"></div>
        <div class="panel panel-default related-links">
          <div class="panel-heading related-links">
              <a data-toggle="collapse" href="#related-links"><h4 class="panel-title"><%= content.linksSectionTitle %></h4></a>
          </div>
          <div id="related-links" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul>
                  <% content.linksSection.forEach(function(link) { %>
                    <li><a href="<%= link.url %>"><%= link.name %></a></li>
                    <hr>
                  <% }); %>
                </ul>
            </div>
          </div>
        </div>
      </div><!-- End Panel group  -->
    </div><!-- End Sidebar-->
    </div><!-- End Row Mobile -->

    <div class="spacer"></div>
    <div class="spacer"></div>
  </div><!--END  Main container -->


<!-- Modal dialog -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mapModalLabel"><%= courseData.class.title %><span id="modalSessionLocationSpan"></span></h4>

      </div>
      <div class="modal-body">
        <div id="map-address"></div>
        <div id="map-canvas"></div>
      </div>
      <div class="modal-footer">
        <a id="getDirections" href="" target="_blank" class="blueish">Get Directions</a>
        <a href="#" class="blueish" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
<!-- END - Modal dialog -->

<% include partials/chat %>
<% include partials/footer %>

</body>
</html>
