<!DOCTYPE html>
<html>
<head>
  <title><%= content.pageTitle %></title>
  <% include partials/head %>
  <script type="text/javascript" src="/javascripts/course_detail.js"></script>
  <link rel="stylesheet" href="/stylesheets/course_detail.css">
  <!-- Style fix - to be removed after -->
  <style media="screen">
 a:link, a:visited{
    color: #337AB7;

  }

  a:hover, a:active {
    color: #000;
    background: #EEE;

  }

 table.schedule  tr {
    background-color: #F9F9F9;
  }
table.schedule tr:nth-child(even) {
    background-color: #FFFFFF;
  }

ul {padding-left: 10px;}

.course_related_information nav ul li {list-style: none; padding: 5px;}

.course_related_information {
  border: 1px solid #EEE;
  padding: 10px;
}
  </style>
    <!-- END Style fix - to be removed after -->
</head>
<body>
<% include partials/header %>
<div class="container">
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h3><%= courseData.class.title %> - <%= courseData.class.code %></h3>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <button type="button" name="button" id="close-map">Close Map</button>
  </div>
</div> <!--/#row -->

<div class="row">
  <div class="table-responsive">
    <table class="table table-striped schedule">
      <thead>
        <tr>
          <th><%= content.sessionTable[0] %></th>
          <th><%= content.sessionTable[1] %></th>
          <th><%= content.sessionTable[2] %></th>
          <th><%= content.sessionTable[3] %></th>
          <th></th>
        </tr>
        <% if (courseData.session.status === 404) { %>
          <tr><td colspan="5"><%= content.noSessionsError %></td></tr>
        <% } else { %>
        <% courseData.session.forEach(function(session) { %>
          <tr>
            <td> <%= session["startDate"].slice(0,-6) %> - <%= session["endDate"]%> <br/>
                <% if (session["startTime"] !== null || session["endTime"] !== null) { %>
                  <%= session["startTime"]%> - <%= session["endTime"]%>   %>
                <% } %>
                <% if (session["days"] !== null) { %>
                , <%= session["days"] %>
                <% } %>
            </td>

            <td><%= session.location["city"]%>, <%= session.location["state"]%> <span class="glyphicon glyphicon-map-marker pull-right" aria-hidden='true'> </td>
            <td> $<%= session["tuition"]%></td>
            <td class="statusData">
              <% if (session["status"] === "C")  {%>
                <% if (session["scheduleAvailable"] === session["scheduleMaximum"]) { %>
                  <span class="label label-warning">Closed</span>
                <% } else { %>
                <span class="label label-success">G2G</span>
                <% } %>
              <% } else { %>
                <span class="label label-info">Open</span>
              <% } %>
            </td>
            <% if (session["status"] === 'S') { %>
              <td><button type="button" name="button" onclick="location.href='https://teams.graduateschool.edu/Saba/Web/Main/goto/LearnerOffDetails?offeringId= <%= session["classNumber"] %>&amp;fromUSDARegistration=true'"><%= content.registerButton %></button></td>
            <% } else if (session["status"] === 'C' && session["scheduleAvailable"] === session["scheduleMaximum"]) { %>
              <td></td>
            <% } else { %>
              <td><button type="button" name="button" onclick="location.href='https://teams.graduateschool.edu/Saba/Web/Main/goto/LearnerOffDetails?offeringId= <%= session["classNumber"] %>&amp;fromUSDARegistration=true'"><%= content.registerButton %></button></td>
            <% } %>
          </tr>
        <% }); %>
      <% } %>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div> <!-- End of row -->
<div id="map-canvas"></div>
<br/>
<br/>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <table class="table table-striped">
        <h3><%= content.courseDetailSectionTitle %></h3>
        <tr>
          <th><%= content.courseDetailTitles[0] %></th>
          <td><%= courseData.class.code %></td>
        </tr>
        <tr>
          <th><%= content.courseDetailTitles[1] %></th>
          <td><%= courseData.class.type %></td>
        </tr>
        <tr>
          <th><%= content.courseDetailTitles[2] %></th>
          <td>
          	<% if (courseData.class.length.value==0 || courseData.class.length.interval=='Variable') { %>
				      <%= courseData.class.interval %>
			      <% } else { %>
          		<%= courseData.class.length.value %> <%= courseData.class.length.interval %>(s)
          	<% } %>
          </td>
        </tr>
        <tr>
          <th><%= content.courseDetailTitles[3] %></th>
          <td><% if(courseData.class.credit) { %>
          	<%= courseData.class.credit.value %> <%=courseData.class.credit.type %>
          	<% } %>
          	</td>
        </tr>
      </table>
      <div class="course_related_information">
        <h4><%= content.linksSectionTitle %></h4>
        <nav>
          <ul>
            <% content.linksSection.forEach(function(link) { %>
              <li><a href="<%= link.url %>"><%= link.name %></a></li>
            <% }); %>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home"><%= content.courseInfoTitles[0] %></a></li>
        <li><a data-toggle="tab" href="#menu1"><%= content.courseInfoTitles[1] %></a></li>
        <% if (courseData.class.outcomes !== null && courseData.class.outcomes.length > 0) { %>
          <li><a data-toggle="tab" href="#menu2"><%= content.courseInfoTitles[2] %></a></li>
        <% } %>
        <% if ( courseData.syllabus &&  courseData.syllabus.fields &&  courseData.syllabus.fields.syllabusContent ) { %>
        	<li><a data-toggle="tab" href="#menu3"><%= content.courseInfoTitles[3] %></a></li>
        <% } %>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3><%= content.courseInfoTitles[0] %></h3>
          <p><%- courseData.class.description.formatted %></p>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3><%= content.courseInfoTitles[1] %></h3>
          <p><%- courseData.class.objective %></p>
        </div>
        <% if (courseData.class.outcomes !== null) { %>
          <div id="menu2" class="tab-pane fade">
            <h3><%= content.courseInfoTitles[2] %></h3>
            <p>
              <ul>
                <% if (courseData.class.outcomes !== null && courseData.class.outcomes.length > 0) { %>
                  <% courseData.class.outcomes.forEach(function(outcome) { %>
                    <li><%= outcome %></li>
                  <% }); %>
                <% } %>
              </ul>
            </p>
          </div>
        <% } %>
        <% if ( courseData.syllabus &&  courseData.syllabus.fields &&  courseData.syllabus.fields.syllabusContent ) { %>
          <div id="menu3" class="tab-pane fade">
            <h3><%= content.courseInfoTitles[3] %></h3>
            <%- courseData.syllabus.fields.syllabusContent %>
	      <% } %>
        </div>
      </div>

    </div>
  </div> <!--/#row -->
</div><!--/#container-fulid -->
<br/><br/> <!--/# spacer to be removed -->

<% include partials/chat %>
<% include partials/footer %>

</body>
</html>
