<!DOCTYPE html>
<html>
<head>
  <title><%= courseTitle %></title>
  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7_9EOg9DdnSOQ0nCJrOcMdGQARxtZNd0"></script>
  <script type="text/javascript" src="/javascripts/course_detail.js"></script>
  <link rel="stylesheet" href="/stylesheets/course_detail.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
  <!-- Style fix for Link color - to be removed after -->
  <style media="screen">
  a:link, a:visited{
    color: #337AB7;
  }

 table.schedule  tr {
    background-color: #F9F9F9;
  }
table.schedule tr:nth-child(even) {
    background-color: #FFFFFF;
  }


  </style>
</head>
<body>
  <div class="container">
<br/><br/> <!--/# spacer to be removed -->

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h3>Course Details for <%= courseId %></h3>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <button type="button" name="button">Multiple registration</button>
    <button type="button" name="button">Bring course to your location</button>
    <button type="button" name="button" id="close-map">Close Map</button>
  </div>
</div> <!--/#row -->

<div class="row">
  <div class="table-responsive">
    <table class="table table-striped schedule">
      <thead>
        <tr>
          <th>Session Schedule</th>
          <th>Instructor</th>
          <th>Location</th>
          <th>Price</th>
          <th>Status</th>
          <th>Maximum</th>
          <th>Availble</th>
          <th>#</th>
        </tr>
<% if (sessions.status === 404) { %>
<tr><td> There are no sessions scheduled for this course at the time. Please stop by later. </td></tr>

<% } else { %>

    <% for (var i=0; i < sessions.length; i++) { %>
      <tr>
        <td> <%= sessions[i]["startDate"] %> - <%= sessions[i]["endDate"]%> <br/>
            <%= sessions[i]["startTime"]%> - <%= sessions[i]["endTime"]%> , <%= sessions[i]["days"]%></td>
        <!-- <td><button type="button" data-toggle="modal" data-target="#myModal"><%= sessions[i]["instructor"]%></button> </td> -->
        <td><button type="button" data-toggle="modal" data-target="#myModal"> Ann Martick </button> </td>
        <td><%= sessions[i].location["address1"]%> <span class="glyphicon glyphicon-map-marker pull-right" aria-hidden='true'> </td>
        <td><%= sessions[i]["tuition"]%></td>
        <td><%= sessions[i]["status"]%></td>
        <td><%= sessions[i]["scheduleMaximum"]%></td>
        <td><%= sessions[i]["scheduleAvailable"]%></td>
        <td><button type="button" name="button">Register</button></td>
      </tr>
     <% } %>

<% } %>
      </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div> <!-- End of row -->
    <div id="map-canvas"></div>
    <br/>
    <br/>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <table class="table table-striped">
          <h3>Course details</h3>
          <tr>
            <th>Code</th>
            <td><%= courseCode %></td>
          </tr>
          <tr>
            <th>Type</th>
            <td><%= courseType %></td>
          </tr>
          <tr>
            <th>Length</th>
            <td><%= courseLength %> <%= courseInterval %>(s)</td>
          </tr>
          <tr>
            <th>Credit</th>
            <td><%= courseCredit.value %> <%= courseCredit.type %></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Course overview</a></li>
          <li><a data-toggle="tab" href="#menu1">Who should attend?</a></li>
          <li><a data-toggle="tab" href="#menu2">Learning outcomes</a></li>
          <li><a data-toggle="tab" href="#menu3">Course outline</a></li>
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <h3>Course overview</h3>
            <p><%= courseDescription %></p>
          </div>
          <div id="menu1" class="tab-pane fade">
            <h3>Who should attend?</h3>
            <p>Anyone who adjudicates veterans' preference claims or performs delegated examining work.</p>
          </div>
          <div id="menu2" class="tab-pane fade">
            <h3>Learning outcomes</h3>
            <p>
              <ul>
                <li>Know the circumstances when Veterans' Preference applies</li>
                <li>Identify the types of veterans' preference, including veteran, spouse, widow/widower, and mother</li>
                <li>Correctly adjudicate veterans' preference claims</li>
                <li>Apply veterans' preference to competitive and excepted service appointments</li>
                <li>Apply special appointing authorities for veterans in the following: Veterans' Recruitment Appointments (VRA); 30 Percent or More Disabled Veterans; Disabled veterans enrolled in a VA training program; and Veterans Employment Opportunity Act of 1998</li>
              </ul>
            </p>
          </div>
          <div id="menu3" class="tab-pane fade">
            <h3>Course outline</h3>

            <td>
              <p><strong>Day One</strong></p>
              <div>Introduction<br>
                <ul>
                  <li>Pre-course Assessment</li>
                </ul>
                Definitions and History of Veterans' Preference<br>
                <br>
                Applicable Laws, Rules, and Regulations<br>
                <ul>
                  <li>Types of veterans' preference</li>
                  <li>Adjudicating veterans' preference claims</li>
                </ul>
                Veterans' Preference in the Competitive and Excepted Services<br>
                <ul>
                  <li>Applying veterans' preference</li>
                </ul>
                Special Appointing Authorities and Entitlements for Veterans<br>
                <br>
                Veterans’ Preference and Reduction-In-Force<br>
                <br>
                Summary<br>
                <ul>
                  <li>Post-course Assessment</li>
                </ul>
              </div>
            </td>
          </div>
        </div>
      </div>

    </div> <!--/#row -->

  </div><!--/#container-fulid -->

<br/><br/> <!--/# spacer to be removed -->

  <!-- Modal dialog -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Instructor Bio - Ann Martick</h4>
        </div>
        <div class="modal-body">
        <p><strong>Ann J. Martick</strong> an Industrial Security expert, is a certified ISP (Industrial Security Professional) and an FSO (Facility Security Officer). She has 20+ years experience serving variously as Security Manager, Facility Security Officer, Contractor Information System Security Manager, and Project Administrator. She's developed comprehensive security policies, procedures, and training for managing secure communications, document control, and classified information systems.</p>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- END - Modal dialog -->

</body>
</html>
