
<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
    <% include partials/head %>
</head>
<body>
  <% include partials/header %>
  <header>
  <div  class="container">
  <div class="row">
    <div class="row">
      <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12" id="form-filters">
            <span>Filter forms:</span>
              <ul>
                <li><a href="#">All forms</a></li>
                <li><a href="#">Training Officers</a></li>
                <li><a href="#">Current/Returning Students</a></li>
                <li><a href="#">Prospective Students</a></li>
              </ul>
        </div>
      </div>
     </div> <!-- END row -->
    <div class="col-lg-6 col-md-6 col-sm-12" id="col1">
    <% entry.forEach(function(entrySection) {
      if (entrySection.sectionColumn==1) { %>
        <section id="assets">
          <h3><%= entrySection.sectionTitle %></h3>
        <% entrySection.assetList.forEach(function(asset) { %>
          <p class="asset"><a href=<%= asset.url %> target="_blank" <% if (asset.type == "application/pdf") {%>onclick="ga('send', 'event', 'PDF', 'Download', this.href);<%}%>"><% if (asset.type == "application/pdf") {%> <span><img src="/images/pdf.png"/></span> <% } else { %> <span><img src="/images/link.png"/></span> <% } %><%= asset.title %></a></p>
          <% });
        } %>
        </section>
    <%  });%>
  </div><!--END Col1 -->
    <div class="col-lg-6 col-md-6 col-sm-12" id="col2">
    <% entry.forEach(function(entrySection) {
      if (entrySection.sectionColumn==2) { %>
        <section id="assets">
        <h3><%= entrySection.sectionTitle %></h3>
        <% entrySection.assetList.forEach(function(asset) { %>
          <p class="asset"><a href=<%= asset.url %> target="_blank" <% if (asset.type == "application/pdf") {%>onclick="ga('send', 'event', 'PDF', 'Download', this.href);<%}%>"><% if (asset.type == "application/pdf") {%> <span><img src="/images/pdf.png"/></span> <% } else { %> <span><img src="/images/link.png"/></span> <% } %><%= asset.title %></a></p>
        <% });
      } %>
      </section>
  <%  });%>
  </div><!--END Col2 -->
  </div> <!--END Row-->
  <div class="spacer"></div>
  <div class="spacer"></div>
  </div> <!--END Container-->
  </header>
<!-- Footer -->
  <% include partials/footer %>
<!-- END Footer  -->
<!-- Chat  -->
  <% include partials/chat %>
<!-- END of Chat  -->

  </body>
</html>
