<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
  </head>
  <body>
<<<<<<< HEAD
    <h1><%= title %></h1>
<<<<<<< HEAD
    <p>Welcome to the <%= title %> home page  <%= name %>  </p>
  <img id="gsimage"src="/images/GraduateSchoolLogo.jpg"/>
</body>
=======
    <p>Welcome to <%= name %></p>
=======
    <!-- <h1><%= title %></h1> -->
    <!-- <p>Welcome to <%= name %></p> -->
    <div id="home-page" class="container">
      <div class="form-group">
          <input type="text" id="search"  placeholder="Search"><button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
>>>>>>> a8e555d20cf38b19f6b2cdafaafbdb78f753a5db
  </body>
</html>
>>>>>>> c9fd6de9ee8b14725b387b90d4370ba918735240
