<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= title %></title>
    <% include partials/head %>
    <script src="/javascripts/forms.js" type="text/javascript"></script>
</head>
<body>
  <% include partials/header %>
  <!--nutch_noindex-->
  <div class="subscription-type">
    <input type="checkbox" name="txtSubscriptionType" class="subscriptionType" id="subscriptionType1" value="E-mail"
     tabindex="1"> E-mail </input>
  </div>
  <div class="subscription-type">
    <input type="checkbox" name="txtSubscriptionType" class="subscriptionType" id="subscriptionType2" value="Mail"
     tabindex="2"> Mail </input>
  </div>

  <label for="subscription">You would like to</label>
  <input type="radio" name="radSubscription" id="subscribe" value="Subscribe" checked/>
  <label for="subscribe">Subscribe</label>
  <input type="radio" name="radSubscription" id="modify" value="Modify" />
  <label for="modify">Modify</label>
  <input type="radio" name="radSubscription" id="unSubscribe" value="Unsubscribe" />
  <label for="unSubscribe">Unsubscribe</label>

  <fieldset>
    <legend>Please fill out your full name</legend>
    First Name: <input type="text"><br>
    Middle Name: <input type="text"><br>
    Last Name: <input type="text">
  </fieldset>

  <fieldset>
    <legend>Please fill out your email</legend>
    Email Address: <input type="text">
  </fieldset>


  <% arrayOfContent.forEach(function(content, num) { %>
    <div class="areaOfInterest-for-subscription">
      <input type="checkbox" name="txtAreaOfInterest" class="areaOfInterest" id="<%= 'areaOfInterest'+num%>" value="<%= content.areaOfInterest %>"
       tabindex="<%= num + 1 %>"> <%= content.areaOfInterest %> </input>
    </div>
  <% }); %>

  <!--/nutch_noindex-->

  <!-- Footer -->
  <% include partials/footer %>
  <!-- END Footer  -->
  <!-- Chat  -->
  <% include partials/chat %>
  <!-- END of Chat  -->

  </body>
</html>
