<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= title %></title>
    <% include ../../partials/head %>
  </head>
  <body>
    <% include ../../partials/header %>
      <div id="container" class="container">
        <div class="loading" style="display:none;"></div>
        <% if (error) { %>
        <div id="gs-cart-alert-error" class="alert alert-danger" role="alert" >
          <span id="gs-cart-alert-remove" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"> </span>
          <p><%= error %></p>
        </div>
        <% } %>
        <div id="outer" class="col-lg-12 col-md-12 col-sm-12 form-fix padding20">

          <div id="gs-form">
              <div id="cart">
                <form id="cart-form" role="form" method="get" action="<%= nextpage %>">
                  <div id="form-wrap">
                    <div id="cart-items">
                      <table>
                        <tr>
                          <th>Course</th>
                          <th>Session</th>
                          <th>Type</th>
                          <th>Cost</th>
                        </tr>
                        <tr>
                          <td><%= course.title %></td>
                          <td>
                            <%= session["startDate"].slice(0,-6) %> - <%= session["endDate"]%> <br/>
                              <% if (session["startTime"] !== null || session["endTime"] !== null) { %>
                                <%= session["startTime"]%> - <%= session["endTime"]%>
                              <% } %>
                              <% if (session["days"] !== null) { %>
                              , <%= session["days"] %>
                              <% } %>
                          </td>
                          <td><%= course.type %></td>
                          <td>$<%= session["tuition"] %></td>
                        </tr>
                      </table>
                    </div>
                    <div class="spacer10"></div>
                    <div id="buttons" class="pull-right">
                      <button id="cart-form-continue" type="submit" tabindex="10">Continue</button>
                    </div>
                  </div> <!-- END form-wrap -->
                </form> <!-- END cart-form -->
            </div>  <!-- END cart -->
          </div> <!--END gs-form-->

        </div> <!--END outer-->
      </div> <!--END container-->
    <!-- Footer -->
    <% include ../../partials/footer %>
    <!-- END Footer  -->
    <!-- Chat  -->
    <% include ../../partials/chat %>
    <!-- END of Chat  -->
  </body>
</html>
