<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/cart.css" />
    <link rel="stylesheet" href="/stylesheets/library/spinners.css">
    <% include ../../partials/head %>
    <script type="text/javascript" src="/javascripts/manage/loading.js"></script>
    <script type="text/javascript" src="/javascripts/manage/alerts.js"></script>
  </head>
  <body>
    <% include ../../partials/header_slim %>
      <div id="container" class="container">
        <div id="reg-loading" class="loading" style="display:none;"></div>
        <% if (error) { %>
        <div id="gs-alert-error" class="alert alert-danger" role="alert">
        <% } else { %>
        <div id="gs-alert-error" class="alert alert-danger" role="alert" style="display:none;">
        <% } %>
          <span id="gs-alert-remove" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"> </span>
          <p><%= error %></p>
        </div>

          <div class="row">
          <div id="outer" class="col-lg-12 col-md-12 col-sm-12 content-offset">
          <div id="gs-form">
            <div id="cart">
              <div class="row nopadding">
                <div class="col-lg-12 nopadding mobile-nopadding">
                  <% if (course != null && session != null ) {%>
                    <p>The following course has been added to your cart. Please check to make sure the information below is accurate before continuing.</p>
                  <% } %>
                  <div id="cart-items" class="non-mobile"> <!-- start non-mobile view -->
                    <h2 class="non-mobile">Course Summary</h2>
                    <table class="table table-striped cart">
                      <tr>
                        <th>Course</th>
                        <th><%= contentfulCourseInfo.sessionTable[0] %></th>
                        <th><%= contentfulCourseInfo.sessionTable[1] %></th>
                        <th><%= contentfulCourseInfo.courseDetailTitles[1] %></th>
                        <th><%= contentfulCourseInfo.sessionTable[2] %></th>
                        <th>Action</th>
                      </tr>
                      <% if (course != null && session != null ) {%>
                      <tr>
                        <td><a href='/courses/<%= course.code %>'><strong><%= course.title %></strong></a></td>
                        <td>
                          <%= session["startDate"].slice(0,-6) %> - <%= session["endDate"]%> <br/>
                            <% if (session["startTime"] !== null || session["endTime"] !== null) { %>
                              <%= session["startTime"]%> - <%= session["endTime"]%>
                            <% } %>
                            <% if (session["days"] !== null) { %>
                            , <%= session["days"] %>
                            <% } %>
                        </td>
                        <td>
                          <%= session.location["city"]%><% if (session.location["state"]) { %>, <%= session.location["state"]%><%}%>
                          <% if((typeof(session.location["address1"])!='undefined') && typeof(session.location["address2"])!='undefined') {%>
                          <span id="location" class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address1"] +', '+ session.location["address2"] +', '%> <%= session.location["city"]  +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'></span>
                          <% } else if(typeof(session.location["address1"])!='undefined') {%>
                          <span id="location" class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address1"] +', '%> <%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'></span>
                          <% } else if(typeof(session.location["address2"])!= 'undefined') {%>
                          <span id="location" class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address2"] +', '%> <%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'></span>
                          <% } else if (typeof(session.location["city"]) != 'undefined') {%>
                          <span id="location" class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'></span>
                          <%}%>
                        </td>
                        <td><%= course.type %></td>
                        <td>$<%= session["tuition"] %></td>
                        <td>
                          <form id="cart-form-remove-course" style="display: inline;" method="post" action="/manage/cart">
                            <input type="hidden" id="course-to-remove" name="course-to-remove" value="<%= course.id%>">
                            <input type="hidden" id="session-to-remove" name="session-to-remove" value="<%= session["classNumber"] %>">
                            <a id="cart-remove-button" href="" onclick="parentNode.submit();return false;">
                              <image id="cart-remove_image" src="/images/remove.png"></image>
                            </a>
                          </form>
                        </td>
                      </tr>
                      <% } else { %>
                      <tr>
                        <td colspan="6"><strong><span id="empty-cart-message">Your cart is currently empty, click <a id='empty-cart-search-link' href='/search'>here</a> to search for courses.</span></strong></td>
                      </tr>
                      <% }%>
                    </table>
                  </div> <!--END cart-items non-mobile view-->

                  <div id="cart-mobile" class="mobile"> <!-- start mobile view -->
                    <div class="row nopadding">
                      <table class="table cart-mobile">
                        <tr>
                          <th class="header-mobile" colspan="2">Course Summary</th>
                        </tr>
                        <% if (course != null && session != null ) {%>
                      <tr>
                        <th class="cart-mobile">Course</th>
                        <td class="cart-mobile"><a href='/courses/<%= course.code %>'><strong><%= course.title %></strong></a></td>
                      </tr>
                      <tr>
                        <th class="cart-mobile"><%= contentfulCourseInfo.sessionTable[0] %></th>
                        <td class="cart-mobile">
                          <%= session["startDate"].slice(0,-6) %> - <%= session["endDate"]%> <br/>
                          <% if (session["startTime"] !== null || session["endTime"] !== null) { %>
                          <%= session["startTime"]%> - <%= session["endTime"]%>
                          <% } %>
                          <% if (session["days"] !== null) { %>
                          , <%= session["days"] %>
                          <% } %>
                        </td>
                      </tr>
                      <tr>
                        <th class="cart-mobile"><%= contentfulCourseInfo.sessionTable[1] %></th>
                        <td class="cart-mobile">
                          <%= session.location["city"]%><% if (session.location["state"]) { %>, <%= session.location["state"]%><%}%>
                          <% if((typeof(session.location["address1"])!='undefined') && typeof(session.location["address2"])!='undefined') {%>
                          <span id="location" class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address1"] +', '+ session.location["address2"] +', '%> <%= session.location["city"]  +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'></span>
                          <% } else if(typeof(session.location["address1"])!='undefined') {%>
                          <span id="location" class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address1"] +', '%> <%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'></span>
                          <% } else if(typeof(session.location["address2"])!= 'undefined') {%>
                          <span id="location" class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address2"] +', '%> <%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'></span>
                          <% } else if (typeof(session.location["city"]) != 'undefined') {%>
                          <span id="location" class="glyphicon glyphicon-map-marker pull-right" data-toggle="modal"  data-target="#mapModal" aria-hidden='true' data-city=' - <%= session.location["city"]%>, <%= session.location["state"]%>' data-address='<%= session.location["address2"] +', '%> <%= session.location["city"] +', '%> <%= session.location["state"] %> <%= session.location["postalCode"] %>'></span>
                          <%}%>
                        </td>
                      </tr>
                      <tr>
                        <th class="cart-mobile"><%= contentfulCourseInfo.courseDetailTitles[1] %></th>
                        <td class="cart-mobile"><%= course.type %></td>
                      </tr>
                      <tr>
                        <th class="cart-mobile"><%= contentfulCourseInfo.sessionTable[2] %></th>
                        <td class="cart-mobile">$<%= session["tuition"] %></td>
                      </tr>
                      <tr>
                        <th class="cart-mobile">Action</th>
                        <td class="cart-mobile">
                          <form id="cart-form-remove-course-mobile" style="display: inline;" method="post" action="/manage/cart">
                            <input type="hidden" id="course-to-remove-mobile" name="course-to-remove" value="<%= course.id%>">
                            <input type="hidden" id="session-to-remove-mobile" name="session-to-remove" value="<%= session["classNumber"] %>">
                            <a id="cart-remove-button-mobile" href="" onclick="parentNode.submit();return false;">
                              <image id="cart-remove_image-mobile" src="/images/remove.png"></image>
                            </a>
                          </form>
                        </td>
                      </tr>
                        <% } else { %>
                        <tr>
                          <td class="cart-mobile" colspan="2"><strong>
                              <span id="empty-cart-message-mobile">Your cart is currently empty, click <a id='empty-cart-search-link-mobile' href='/search'>here</a> to search for courses.</span></strong></td>
                        </tr>
                        <% } %>
                    </table>
                    </div>
                    <div class="spacer10 mobile"></div>
                  </div> <!--END cart-mobile mobile view-->
                </div>
              </div>
              <div class="spacer25"></div>
              <div id="buttons" class="pull-right">
                <form id="cart-form-cancel-registration" style="display: inline;" method="post" action="/manage/cart/registration/cancel">
                  <button id="cart-form-cancel-registration-submit" type="submit" tabindex="11">Cancel</button>
                </form>
                <form id="cart-form" role="form" method="get" style="display: inline;" onsubmit="showLoading()" action="<%= nextpage %>">
                  <% if (course != null && session != null ) {%>
                  <button id="cart-form-continue" type="submit" tabindex="10" class="red">Continue <span class="glyphicon glyphicon-chevron-right white-icon"></span></button>
                  <% } %>
                </form> <!--END cart-form -->
              </div> <!--END buttons-->
            </div>  <!-- END cart -->
          </div> <!--END gs-form-->
         </div> <!--END outer-->
         </div> <!--END row -->
        </div> <!--END container-->
        <div class="spacer60 non-mobile"></div>
        <div class="spacer60 non-mobile"></div>
        <div class="spacer mobile"></div>
    <!-- Footer -->
    <% include ../../partials/footer %>
    <!-- END Footer  -->
    <!-- Chat  -->
    <% include ../../partials/chat %>
    <!-- END of Chat  -->
  </body>
</html>
