<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= title %></title>
    <% include ../../partials/head %>
    <link rel="stylesheet" href="/stylesheets/cart.css" />
    <script>
      $(document).ready(function () {
        $("#gs-alert-remove").css('cursor', 'pointer');
        $("#gs-alert-remove").click(function () {
          $("#gs-alert-error").slideUp();
          $("#gs-alert-error p").remove();
        });
      });
    </script>
  </head>
  <body>
    <% include ../../partials/header %>
      <div id="container" class="container">
        <% if (error) { %>
        <div id="gs-alert-error" class="alert alert-danger" role="alert">
          <% } else { %>
        <div id="gs-alert-error" class="alert alert-danger" role="alert" style="display:none;">
            <% } %>
            <span id="gs-alert-remove" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"> </span>
            <p><%= error %></p>
        </div>
        <div class="row">
        <div id="outer" class="col-lg-12 col-md-12 col-sm-12 content-offset">
          <div id="gs-form">
              <div id="cart">
                <div class="row">
                  <div class="col-lg-12">
                    <p>Please check to make sure the information below is accurate before checkout.</p>
                    <div id="cart-items">
                      <h2>Course Summary</h2>
                      <table class="table table-striped cart">
                        <tr>
                          <th>Course</th>
                          <th><%= contentfulCourseInfo.sessionTable[0] %></th>
                          <th><%= contentfulCourseInfo.sessionTable[1] %></th>
                          <th><%= contentfulCourseInfo.courseDetailTitles[1] %></th>
                          <th><%= contentfulCourseInfo.sessionTable[2] %></th>
                        </tr>
                        <tr>
                          <td><strong><%= course.title %></strong></td>
                          <td>
                            <%= session["startDate"].slice(0,-6) %> - <%= session["endDate"]%> <br/>
                              <% if (session["startTime"] !== null || session["endTime"] !== null) { %>
                                <%= session["startTime"]%> - <%= session["endTime"]%>
                              <% } %>
                              <% if (session["days"] !== null) { %>
                              , <%= session["days"] %>
                              <% } %>
                          </td>
                          <td>
                            <%= session.location["city"]%><% if (session.location["state"]) { %>, <%= session.location["state"]%><% } %>
                          </td>
                          <td><%= course.type %></td>
                          <td>$<%= session["tuition"] %></td>
                        </tr>
                      </table>
                    </div> <!-- END cart-items -->
                  </div>
                </div>
                <div class="spacer25"></div>
                <div class="row">
                  <div class="col-lg-5 col-md-5">
                    <h2>Billing Information</h2>
                    <div id="bill-to-info">
                      <p class="bill-title">John Doe</p>
                      <p>1st Street, Washingon DC</p>
                      <p>+11231234123 john@doe.com</p>
                    </div> <!-- END Bill-to-info -->
                  </div>
                  <div class="col-lg-7 col-md-7">
                    <h2>Pending Payment</h2>
                    <div id="payment-info">
                      <p><span class="payment-type">Credit</span> <%= authorization.cardNumber %> - Expires <%= authorization.cardExpiry %></p>
                    </div> <!-- END payment-info -->
                    <p><span class="registration-disclaimer">Registration is not complete and no seats are reserved until your full payment is received.</span></p>
                  </div>
                </div>

                <div class="spacer60"></div>
                    <div id="buttons" class="pull-right">
                    <form id="cart-form-cancel" style="display: inline;" method="post" action="/manage/cart/payment/cancel">
                      <button id="cart-form-cancel-submit" type="submit" tabindex="10">Cancel</button>
                    </form>
                      <% if (!error) { %>
                      <form id="cart-form-complete" style="display: inline;" method="post" action="/manage/cart/payment/complete">
                        <button id="cart-form-complete-submit" type="submit" tabindex="11" class="red">Complete Registration <span class="glyphicon glyphicon-chevron-right white-icon"></span></button>
                      </form>
                      <% } %>  <!-- END if no error -->
                </div> <!-- END buttons -->
            </div>  <!-- END cart -->
          </div> <!--END gs-form-->
        </div> <!--END outer-->
      </div> <!--END Row-->
      </div> <!--END container-->
      <div class="spacer60"></div>
      <div class="spacer60"></div>
    <!-- Footer -->
    <% include ../../partials/footer %>
    <!-- END Footer  -->
    <!-- Chat  -->
    <% include ../../partials/chat %>
    <!-- END of Chat  -->
  </body>
</html>
