<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div id="catalog-filters">
        <span class="filter-header pull-left">Filter catalogs: </span>
        <ul id="form-filter" class="nav nav-pills">
            <% entry.forEach(function(entrySection,num) { %>
            <% if (num == 0) { %>
              <li class="active"><a data-toggle="pill" href="#tab<%=num%>"><%- entrySection.catlogTitle %></a></li>
            <% } else { %>
              <li><a data-toggle="pill" href="#tab<%=num%>"><%- entrySection.catlogTitle %></a></li>
            <% } %>
          <% }); %>
        </ul>
        <span class="filter-header pull-right"><a href="/under-construction" class="archive"><span><img src="/images/archive-icon.png"/></span> Archive</a></span>
      </div>
    </div>
  </div> <!-- End Row -->
  <div class="wrapper">
    <div class="row">
      <div class="container">
      <div class="tab-content">
        <% entry.forEach(function(entrySection,num) { %>
        <% if (num == 0) { %>
          <div id="tab<%=num%>" class="tab-pane fade in active">
        <% } else { %>
          <div id="tab<%=num%>" class="tab-pane fade">
        <% } %>
        <div class="wrapper padding">
          <% var categoryTitle = entrySection.catlogTitle.replace(/(<([^>]+)>)/ig, "");%>
          <h2><%= categoryTitle %></h2>
        </div>
          <div class="col-lg-6 col-md-6 col-sm-12" id="col1">
            <% entrySection.assetList.forEach(function(asset) { %>
              <%  if (asset.displayInSecondColumn==false) {%>
                <p class="asset" data-contenttype="<%= asset.catalogFilter %>"><a data-toggle="tooltip" title="<%= asset.description %>" data-placement="right" href="<%= asset.url %>">  <span><img src="/images/pdf.png"/></span> <%= asset.title %></a></p>
              <% } %>
            <% }) %>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12" id="col2">
            <% entrySection.assetList.forEach(function(asset) { %>
              <%  if (asset.displayInSecondColumn) {%>
                <p class="asset" data-contenttype="<%= asset.catalogFilter %>"><a data-toggle="tooltip" title="<%= asset.description %>" data-placement="right" href="<%= asset.url %>">  <span><img src="/images/pdf.png"/></span> <%= asset.title %></a></p>
              <% } %>
            <% }) %>
          </div>
        </div>
      <% }) %>
      </div> <!-- End tab-content -->
      </div>
    </div>
  </div> <!-- End row -->
</div> <!-- End container -->
