<div class="col-lg-3 col-md-4 col-sm-4">
  <div class="filters">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default gs">
        <div class="panel-heading gs non-mobile">
          <div class="row clearfix">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#refine-results">Refine Results</a>
              </h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="refine">
                <a href="#"><p class="clear"><span>X</span><br>clear all</p></a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-heading gs mobile">
          <a class="accordion-toggle" id="collapseLink" data-toggle="collapse" data-parent="#accordion"  href="#refine-results">
            <h4 class="panel-title">Refine Results</h4>
          </a>
        </div>
        <div id="refine-results" class="panel-collapse collapse in">
          <div class="panel-body padding15">
            <div class="row mobile">
              <div class="container">
                <div class="refine-mobile pull-right">
                  <a href="#"><p class="clear">Clear all filters</p></a>
                </div>
              </div>
              <hr>
            </div>

            <span class="form-group" data-showfor="course">
              <p>Keyword<a id="clearKeyword" href="#" class="checkbox-clear">clear</a></p>
              <span>
                <input type="text" id="txtSearchCriteria" class="form-control" pattern=".{3,}" value="<%= params.searchCriteria %>" style="display:inherit; width:75%;" />
                <a id="btnSearchCriteria" class="go-button" href='#'>GO</a>
              </span>
              <hr>
            </span>
            <span class="form-group <%= (params.tab != 'course') ? 'hidden' : '' %>" data-showfor="course" data-hidefor="site">
              <%
              var g2gFacetCount = 0;
              var g2gChecked = "";
              var g2gDisabled = "";
              if (courseResult && courseResult.statusFacets) {
                var statusKeys = Object.keys(courseResult.statusFacets);
                for (i=0; i < statusKeys.length; i++) {
                  if (statusKeys[i] === 'C') {
                    g2gFacetCount = courseResult.statusFacets[statusKeys[i]];
                  }
                }
                if (params.selectedG2G === 'true') {
                  g2gChecked = "checked";
                }
                if (g2gFacetCount == 0) {
                  g2gDisabled = "disabled";
                }
              }
              %>
              <div class="wrapper padding-top padding-bottom">
                <div class="form-block">
                  <input type="checkbox" id="G2G" name="G2G"  value="" <%= g2gChecked %> <%= g2gDisabled %> /><label data-placement="top" data-toggle="tooltip" title="Guaranteed To Go" for="G2G" class="g2g-checkbox"><strong><span class="label label-success g2g">G</span> Guaranteed To Go</strong>&nbsp;(<%= g2gFacetCount %>) </label><br>
                </div>
              </div>
              <hr>
            </span>
            <span class="form-group" data-showfor="course">
              <p>Location <a id="clearLocation" href="#" class="checkbox-clear">clear</a></p>
              <select id="selLocation" class="form-control">
                <option value="all">All</option>
                  <%
                    if (courseResult && courseResult.locationFacets) {
                      var locationFacetsKeys = Object.keys(courseResult.locationFacets);
                      if (locationFacetsKeys.length > 0) {
                        locationFacetsKeys.sort();
                        for (j = 0; j < locationFacetsKeys.length; j++) {
                          locationFacetsKey = locationFacetsKeys[j];
                          locationFacetCount = courseResult.locationFacets[locationFacetsKey];
                          locationSelected = "";
                          if (locationFacetsKey === params.cityState) {
                            locationSelected = "selected";
                          }
                          if (locationFacetCount > 0) {
                            %>
                            <option value="<%= locationFacetsKey%>" <%= locationSelected %>><%= locationFacetsKey%>&nbsp;<%= "("+courseResult.locationFacets[locationFacetsKey]+")"%></option>
                            <%
                          }
                        }
                      }
                      else {
                        if (params.cityState && params.cityState != 'all') {
                          %>
                            <option value="<%= params.cityState %>" selected><%= params.cityState %>&nbsp;(0)</option>
                          <%
                        }
                      }
                    }
                  %>
                </select>
                <hr>
            </span>
            <span class="form-group <%= (params.tab != 'course') ? 'hidden' : '' %>"data-hidefor="site" data-showfor="course">
              <p>Subject <a id="clearCategoriesSubject" href="#" class="checkbox-clear">clear</a></p>
               <select id="categorySubject" class="form-control">
                 <option class="subject-item" value="all">All</option>
                 <%
                 if (courseResult && courseResult.categorySubjectFacets && courseResult.categorySubjectFacets.length > 0) { %>
                   <% courseResult.categorySubjectFacets.forEach(function(courseCategory) { %>
                     <% if (courseCategory.subjectCount > 1 || courseCategory.category != courseCategory.courseSubject[0].subject) { %>
                       <option data-optionType="category" value="<%= courseCategory.category %>" label="<%= courseCategory.category + ' (' + courseCategory.count + ')'%>" class="subject-item" <% if (params.categorySubject === courseCategory.category){ %>selected<% } %>><%= courseCategory.category + ' (' + courseCategory.count + ')'%></option>
                       <% courseCategory.courseSubject.forEach(function(courseSubject) { %>
                         <option data-optionType="subject" value="<%= courseSubject.filter %>" label="&nbsp;&nbsp;&nbsp;&nbsp;<%= courseSubject.subject + ' (' + courseSubject.count + ')'%>" class="subject-category" <% if (params.categorySubject === courseSubject.filter){ %>selected<% } %>><%= courseSubject.subject + ' (' + courseSubject.count + ')'%></option>
                       <% }); %>
                    <% } else if(courseCategory.subjectCount == 1) { %>
                      <option data-optionType="subject" value="<%= courseCategory.courseSubject[0].filter %>" label="<%= courseCategory.courseSubject[0].subject + ' (' + courseCategory.courseSubject[0].count + ')'%>" class="subject-item" <% if (params.categorySubject === courseCategory.courseSubject[0].filter){ %>selected<% } %>><%= courseCategory.courseSubject[0].subject + ' (' + courseCategory.courseSubject[0].count + ')'%></option>
                    <% } %>
                  <% }); %>
                <% } %>
              </select>
              <hr>
            </span>
            <span class="form-group <%= (params.tab != 'course') ? 'hidden' : '' %>"data-hidefor="site" data-showfor="course">
              <p>Delivery Type <a id="clearDeliveryMethod" href="#" class="checkbox-clear">clear</a></p>
              <select id="deliveryMethod" class="form-control">
                <option value="all">All</option>
                <%
                if (courseResult && courseResult.deliveryMethodFacets) {
                  var deliveryMethodFacetsKeys = Object.keys(courseResult.deliveryMethodFacets);
                if (deliveryMethodFacetsKeys.length > 0) {
                  deliveryMethodFacetsKeys.sort();
                for (j = 0; j < deliveryMethodFacetsKeys.length; j++) {
                  deliveryMethodFacetsKey = deliveryMethodFacetsKeys[j];
                  deliveryMethodFacetCount = courseResult.deliveryMethodFacets[deliveryMethodFacetsKey];
                  deliveryMethodSelected = "";
                  if (deliveryMethodFacetsKey === params.deliveryMethod) {
                    deliveryMethodSelected = "selected";
                  }
                if (deliveryMethodFacetCount > 0) {
                %>
                <option value="<%= deliveryMethodFacetsKey%>" <%= deliveryMethodSelected %>><%= deliveryMethodFacetsKey%>&nbsp;<%= "("+courseResult.deliveryMethodFacets[deliveryMethodFacetsKey]+")"%></option>
                <%
                    }
                  }
                }
                else {
                if (params.deliveryMethod && params.deliveryMethod != 'all') {
                %>
                <option value="<%= params.deliveryMethod %>" selected><%= params.deliveryMethod %>&nbsp;(0)</option>
                <%
                    }
                  }
                }
                %>
              </select>
                <hr>
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
