<div class="col-lg-4 col-md-5 col-sm-12 mob-center tab-center">
  <% if (result && result.numFound > 0) { %>
    <div id="pagination">
      <nav>
        <ul class="pagination" id="paginationNum">
          <% if (result.previousPage == 0) { %>
            <li class="disabled">
              <span aria-hidden="true"> &#60;&#60; </span></a>
            </li>
          <%} else {%>
           <li>
             <a href="#"  name="<%= result.previousPage %>" aria-label="Previous">
             <span aria-hidden="true"> &#60;&#60;</span></a>
           </li>
          <% } %>
          <% if (result.pageNavRange) { %>
            <% for(var pageCounter=0; pageCounter < result.pageNavRange.length; pageCounter++) { %>
              <% if ( result.pageNavRange[pageCounter]== result.currentPage ) { %>
                <li class="active">
                  <a href="#"  name=<%= result.pageNavRange[pageCounter] %>><%= result.pageNavRange[pageCounter] %> <span class="sr-only">(current)</span></a>
                </li>
              <% } else { %>
                <li>
                  <a href="#" class="pageNumLink" name="<%= result.pageNavRange[pageCounter] %>">
                  <%= result.pageNavRange[pageCounter] %></a>
                </li>
              <%  } %>
            <% } %>
          <% } %>
          <% if (result.nextPage == 0) { %>
            <li class="disabled">
              <span aria-hidden="true"> &#62;&#62; </span> </a>
            </li>
          <%} else {%>
            <li>
              <a href="#" name="<%= result.nextPage %>"aria-label="Next">
              <span aria-hidden="true"> &#62;&#62; </span> </a>
            </li>
          <% }%>
        </ul>
    </nav>
  </div> <!-- END Pagination -->
  <% } %>
</div>
