<div class="panel panel-default gs">
  <div class="row results-header">
    <% if (siteResult && siteResult.pages && siteResult.pages.length > 0) { %>
      <div class="mob-rem">
        <% include no_of_results_site %>
        <% include items_per_page %>
        <% include pagination %>
      </div>
    <% }%>
  </div>
  <% if (siteResult && siteResult.pages && siteResult.pages.length > 0) { %>
    <hr class="margin-reset mob-rem">
  <% } %>
  <div class="panel-body padding15">
    <% if (noSearch) { %>
      <div class="center">
        <h3 class="light">Welcome to the search page. Go ahead and start searching!</h3>
        <img class="search" src="../../images/search-icon.png" alt="" />
      </div>
    <% } else if (siteResult == null || siteResult.pages == null || siteResult.pages.length == 0) { %>
      <div class="center">
        <h3 class="light">No matches for '<%= params.searchCriteria %>'.</h3>
        <img class="search" src="../../images/search-icon.png" alt="" />
      </div>
    <% } else { %>
      <% for(var i=0; i<siteResult.pages.length; i++) { %>
      <div id="site-result">
        <% var siteTile = siteResult.pages[i].title;
           var siteContent= siteResult.pages[i].content;
           if (siteTile.substr(siteTile.lastIndexOf('.') + 1).indexOf("pdf")> -1 ||
             siteTile.substr(siteTile.lastIndexOf('.') + 1).indexOf("doc")> -1 ||
             siteTile.substr(siteTile.lastIndexOf('.') + 1).indexOf("docx")> -1)  {
             var img ="/images/pdf.png";
             siteTile = siteTile.replace(/.pdf(?!.*.pdf)/, '');
             siteTile = siteTile.replace(/.docx(?!.*.docx)/, '');
             siteTile = siteTile.replace(/.doc(?!.*.doc)/, '');
             siteTile = siteTile.replace(/_/g, ' ');
             siteTile = prune(siteTile, 100, "...");
             siteContent = siteContent.replace(/_/g, ' ');
             if (siteResult.pages[i].title.substr(siteResult.pages[i].title.lastIndexOf('.') + 1).indexOf("pdf") ==-1) {
                img ="/images/doc.png";
             }
          %>
            <h3><span><img src='<%=img%>'/></span><a href="<%= siteResult.pages[i].url %>"><%= siteTile %></a></h3>
            <div><%= prune(striptags(siteContent), 300, "...") %></div>
          <% } else { %>
            <h3><a href="<%= siteResult.pages[i].url %>"><%= siteTile %></a></h3>
            <div><%= prune(striptags(siteContent), 300, "...") %></div>
          <% } %>
      </div>
        <hr>
      <% } %>
    <% } %>
    <% if (siteResult && siteResult.pages && siteResult.pages.length > 0) { %>
      <div class="row results-footer mob-center">
        <% include no_of_results_site %>
        <% include items_per_page %>
        <% include pagination %>
      </div><!-- END row-->
    <% }%>
  </div><!-- END Panel-body -->
</div>
