<div class="panel panel-default gs">
  <div class="row results-header">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <% if (courseResult && courseResult.courses && courseResult.courses.length > 0) { %>
        <h5>Showing <%= (((courseResult.currentPage-1)*(courseResult.numRequested))+1) %> to <%= (courseResult.currentPage * courseResult.numRequested > courseResult.numFound) ? courseResult.numFound:(courseResult.currentPage * courseResult.numRequested) %> of <%= courseResult.numFound%> Results</h5>
      <% } %>
    </div>
    <% include pagination %>
  </div>
  <div class="panel-body">
    <% if (noSearch) { %>
      <div class="center">
        <h3 class="light">Welcome to the search page. Go ahead and start searching!</h3>
        <img class="search" src="../../images/search-icon.png" alt="" />
      </div>
    <% } else if (courseResult == null || courseResult.courses == null || courseResult.courses.length == 0) { %>
      <% if (params.cityState != null && params.selectedG2G == true) { %>
        <div class="center">
          <h3 class="light">No matches for '<%= params.searchCriteria %>' with selected filters.</h3>
          <img class="search" src="../../images/search-icon.png" alt="" />
        </div>
      <% } else if (params.cityState != null && params.cityState != 'all') { %>
        <div class="center">
          <h3 class="light">No matches for '<%= params.searchCriteria %>' in '<%= params.cityState %>'.</h3>
          <img class="search" src="../../images/search-icon.png" alt="" />
        </div>
      <% } else { %>
        <div class="center">
          <h3 class="light">No matches for '<%= params.searchCriteria %>'.</h3>
          <img class="search" src="../../images/search-icon.png" alt="" />
        </div>
      <% } %>
    <% } else { %>
      <% for(var i=0; i<courseResult.courses.length; i++) { %>
        <% if ( courseResult.courses[i].description.text !== null ) { %>
          <% if (courseResult.courses[i].code === null) { courseResult.courses[i].code = courseResult.courses[i].id.slice(0, -3); }%>
          <div id="course-result">
            <h3><a href="/courses/<%= courseResult.courses[i].id %>"><%= courseResult.courses[i].code %> - <%= courseResult.courses[i].title %></a></h3>
            <div><%= prune(striptags(courseResult.courses[i].description.text), 300, "...") %></div>
            <div class="course-id"> <img src="../images/course-id-icon.png" alt="" /> Code: <strong><%= courseResult.courses[i].code %></strong> </div>
          </div>
          <hr>
        <% } %>
      <% } %>
    <% } %>
    <div class="row results-footer">
      <div class="col-lg-4 col-md-4 col-sm-4 pull-left">
        <% if (courseResult && courseResult.currentPage > 0 & courseResult.pageNavRange !== null) { %>
          <div id="number-of-items" class="bottom">
            <div class="form-group">
              <label class="control-label" for="itemsPerPage"> Items per page:</label>
              <select id="itemsPerPage" class="form-control">
                <option value="10" <% if (courseResult.numRequested==10 || params.numRequested==10) { %> selected <% } %>>10</option>
                <option value="20"<% if (courseResult.numRequested==20 || params.numRequested==20) { %> selected <% } %>>20</option>
                <option value="50" <% if (courseResult.numRequested==50 || params.numRequested==50) { %> selected <% } %>>50</option>
                <option value="100" <% if (courseResult.numRequested==100 || params.numRequested==100) { %> selected <% } %>>100</option>
              </select>
            </div>
          </div>
        <% } %>
      </div><!-- END left column-->
      <% include pagination %>
    </div><!-- END row-->
  </div><!-- END Panel-body -->
</div>
