<div id="searchResults" class="row">
  <% include filters %>
  <%
    var numRequested = -1;
    if (courseResult && courseResult.numRequested) {
      numRequested = courseResult.numRequested;
    } else if (siteResult && siteResult.numRequested) {
      numRequested = siteResult.numRequested;
    }
  %>
  <div class="col-lg-9 col-md-8 col-sm-8">
    <div class="row tabs">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 nopadding">
          <div id="searchResults">
            <ul class="nav nav-tabs">
              <li class="<%= (params.tab == 'course') ? 'active' : '' %>">
                <a data-toggle="tab" href="#course-search-results" data-tab="course" class="<%= (courseResult && courseResult.numFound > 0) ? '' : 'disabled' %>mob-tab"><span class="tab-fix"> <img src="../images/course-icon.png" alt=""> Courses  <span class="badge"><%= (courseResult && courseResult.numFound) ? courseResult.numFound : 0 %></span></span></a>
              </li>
              <li class="<%= (params.tab == 'site') ? 'active' : '' %>">
                <a data-toggle="tab" href="#site-search-results" data-tab="site" class="<%= (siteResult && siteResult.numFound > 0) ? '' : 'disabled' %>mob-tab"><span class="tab-fix"> <img src="../images/website-icon.png" alt="">  Site Search  <span class="badge"><%= (siteResult && siteResult.numFound) ? siteResult.numFound : 0 %></span></span></a>
              </li> <!-- Class disabled when 0 resutls -->
            </ul>
            <input type="hidden" id="txtSelectedTab" value="<%= params.tab %>" />
          </div>
        </div> <!-- END left column -->
    </div> <!-- END Tabs Nav -->
    <div class="tab-content">

      <!-- COURSE SEARCH RESULTS -->
      <% result = courseResult; %>
      <% if (siteResult !== null) { %>
        <input type="hidden" id="txtPageCourse" value="<%= courseResult.currentPage %>" />
      <% } else { %>
        <input type="hidden" id="txtPageCourse" value="" />
      <% } %>
      <div id="course-search-results" class="tab-pane fade <%= (params.tab == 'course') ? 'in active' : '' %>">
        <% include search_course %>
      </div><!-- END Course Search Results tab content -->

      <!-- SITE SEARCH RESULTS -->
      <% result = siteResult; %>
      <% if (siteResult !== null) { %>
        <input type="hidden" id="txtPageSite" value="<%= siteResult.currentPage %>" />
      <% } else { %>
        <input type="hidden" id="txtPageSite" value="" />
      <% } %>
      <div id="site-search-results" class="tab-pane fade <%= (params.tab == 'site') ? 'in active' : '' %>">
        <% include search_site %>
      </div><!-- END Site Search Results -->

    </div> <!-- END tab content -->
  </div> <!-- END right column -->
</div> <!-- END row -->
