<div class="panel panel-default gs">
  <div class="row results-header">
    <div class="mob-rem">
      <% include no_of_results_courses %>
      <% include items_per_page %>
      <% include pagination %>
    </div>
  </div>
  <% if (courseResult && courseResult.currentPage > 0 & courseResult.pageNavRange !== null) { %>
    <hr class="margin-reset mob-rem">
  <% } %>
  <div class="panel-body padding15">
    <% if (noSearch) { %>
      <div class="center">
        <h3 class="light">Welcome to the search page. Go ahead and start searching!</h3>
        <img class="search" src="../../images/search-icon.png" alt="" />
      </div>
    <% } else if (courseResult == null || courseResult.courses == null || courseResult.courses.length == 0) { %>
      <div class="center">
        <h3 class="light">No matches for selected search criteria. Please refine your search.</h3>
        <img class="search" src="../../images/search-icon.png" alt="" />
      </div>
    <% } else { %>
      <% for(var i=0; i<courseResult.courses.length; i++) { %>
        <% if ( courseResult.courses[i].description.text !== null ) { %>
          <% if (courseResult.courses[i].code === null) { courseResult.courses[i].code = courseResult.courses[i].id.slice(0, -3); }%>
          <div id="course-result">
            <h3><a href="/courses/<%= courseResult.courses[i].id %>?location=<%= params.cityState %>"><%= courseResult.courses[i].code %> - <%= courseResult.courses[i].title %></a></h3>
            <div><%= prune(striptags(courseResult.courses[i].description.text), 300, "...") %></div>
            <div class="course-id"> <img src="../images/course-id-icon.png" alt="" /> Code: <strong><%= courseResult.courses[i].code %></strong> </div>
          </div>
          <hr>
        <% } %>
      <% } %>
    <% } %>
    <div class="row results-footer">
      <% include no_of_results_courses %>
      <% include items_per_page %>
      <% include pagination %>
    </div><!-- END row-->
  </div><!-- END Panel-body -->
</div>
