<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/library/spinners.css">
    <% include ../partials/head %>
    <script>
      var skipReCaptcha = <%= skipReCaptcha %>;
    </script>
    <script type="text/javascript" src="/javascripts/landing_detail.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="/javascripts/library/validator.min.js"></script>
    <script type="text/javascript" src="/javascripts/forms/clientServerValidations/validations.js"></script>
    <script src="/javascripts/forms/formValidation.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/landing_form.css">
  </head>
  <body>
   <div class="loading" style="display:none;"></div>
    <% include ../partials/header-landing %>
    <!-- Main Feature container START -->
    <div id="main-container" class="container padding15">
        <div class="row">
          <div class="col-lg-9 col-md-9">
            <% if (featureImageUrl) { %>
              <img src="<%= featureImageUrl %>" style="width:100%;" />
            <% } %>
            <h1>
              <% if (maintitle) { %>
                <%- maintitle  %>
              <%  } %>
            </h1>
              <% if (maincontent) { %>
                <%- maincontent  %>
              <%  } %>
          </div>
        </div>
      </div>
    <!-- Main Feature container END -->

      <div id="TwoColumnContainer" class="container padding15">
        <div id="LeftContent" class="leftColumn"><% if (leftcolumncontent) { %>
          <%- leftcolumncontent  %>
        <%  } %></div>
        <div id="RightContent" class="rightColumn"><% if (rightcolumncontent) { %>
          <img src="<%= rightcolumncontent %>" style="width:100%;" />
        <% } %></div>
      </div>
      <div id="Section1" class="container padding15">
      </div>
      <div id="Section2" class="container padding15">
      </div>
      <div id="AdditionalSection" class="container padding15">
        <h1>
          <% if (additionalsectiontitle) { %>
            <%- additionalsectiontitle  %>
          <%  } %>
        </h1>
          <% if (additionalsectioncontent) { %>
            <%- additionalsectioncontent  %>
          <%  } %>
      </div>

    <% include ../forms/landing_form %>
      <% include ../partials/chat %>
      <% include ../partials/landing_footer %>
  </body>
</html>
