<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <style type="text/css">
  body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
  }

  a {
    color: #337AB7;
    text-decoration:none;
    outline: none;
  }

  h1 {
    color: #337AB7;
    font-size: 24px;
  }

  h2 {
    color: #337AB7;
    font-size: 18px;
    padding: 10px 0 5px 0;
  }

  p.footer {
    color: #DDD;
    font-size: 11px;

  }

  </style>


</head>
<body>


  <h1>
    The following is a request for information on on-site training:
  </h1>

<h2>Name and Address</h2>
<p>Prefix: <strong> <%= address.prefix %></strong></p>
<p>First Name: <strong> <%= address.firstName %></strong></p>
<p>Last Name: <strong><%= address.lastName %></strong></p>
<p>Organization: <strong><%= address.organization %></strong></p>
<p>Street: <strong><%= address.street %></strong></p>
<p>Suite: <strong><%= address.suite %></strong></p>
<p>City: <strong><%= address.city %></strong></p>
<p>State: <strong><%= address.state %></strong></p>
<p>Zip Code: <strong><%= address.zip %></strong></p>
<p>Country: <strong><%= address.country %></strong></p>

  <hr>

  <h2>Contact Information</h2>
  <p>Telephone Number: <strong><%= contact.phone %></strong></p>
  <p>Fax Number: <strong><%= contact.fax %></strong></p>
  <p>Email Address: <strong><%= contact.email %></strong></p>

  <hr>

  <h2>Location</h2>
  <p>GS Location: <%= location.gs %></strong></p>
  <p>Customer Location: <strong><%= location.customer %></strong></p>
  <p>Other Location: <strong><%= location.other %></strong></p>

  <hr>

<h2>Course Delivery Information</h2>
<p>Course Names: <strong><%= course.names %></strong></p>
<p>Student Count: <strong><%= course.studentCount %></strong></p>
<p>Customization: <strong><%= course.customization %></strong></p>
<p>Course Delivery Date: <strong><%= course.deliveryDate %></strong></p>
<p>Course Delivery Method: <strong><%= course.deliveryMethod %></strong></p>
<p>Instructor: <strong><%= course.instructor %></strong></p>
<p>Help Building Enrollment: <strong><%= course.helpWithEnrollment %></strong></p>

  <hr>

  <h2>Additional</h2>
  <p>How did you hear about us: <strong><%= hearAbout %></strong></p>
  <p>Comments: <strong><%= comments %></strong></p>

  <hr>
  <br>
  <p class="footer">Sent from GraduateSchool.edu - Request for Estimate form.</p>
</div>
</body>
</html>
