<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <% include ../../partials/head %>
  <link rel="stylesheet" href="/stylesheets/onsite_inquiry.css" media="screen" title="no title" charset="utf-8">
</head>
<body>

  <div class="container">
    <div class="row nm header clearfix">
        <% include ../../partials/header %>
      <!-- /end Row Container -->
      </div>
  <div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1><%= title %></h1>
          <!-- Accordion Container -->
          <form class=""  method="post">
            <div class="panel-group" id="accordion">
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">CONTACT INFORMATION</a>
                   </h4>
                 </div>
                 <div id="collapse1" class="panel-collapse collapse in">
                   <div class="panel-body">
                         <div id="contact-information">
                           <div class="form-inline">
                             <span class="form-group">
                               <label for="txtFirstName">*First Name:</label>
                               <input type="text" id="txtFirstName" class="form-control">
                             </span>
                             <span class="form-group">
                               <label for="txtLastName">*Last Name:</label>
                               <input type="text" id="txtLastName" class="form-control">
                             </span>

                           <span class="form-group">
                             <label for="txtOrganizaiton">*Organization:</label>
                             <input type="text" id="txtOrganizaiton" class="form-control">
                           </span>
                           <span class="form-group">
                             <label for="txtStreet">Street Address:</label>
                             <input type="text" id="txtStreet" class="form-control">
                           </span>
                           <span class="form-group">
                             <label for="txtSuite">Suite, Mail Stop:</label>
                             <input type="text" id="txtSuite" class="form-control">
                           </span>
                           </div>
                           <div class="form-inline">
                             <span class="form-group">
                               <label for="txtCity">City:</label>
                               <input type="text" id="txtCity" class="form-control">
                             </span>
                             <span class="form-group">
                               <label for="selState">State:</label>
                              <select id="selState" class="form-control">
                                <option value="">Choose One</option>
                              	<% for (i=0; i < states.length; i++) { %>
                              	  <option value="<%= states[i].abbreviation %>"><%= states[i].name %></option>
                              	<% } %>
                              </select>
                            </span>
                             <span class="form-group">
                               <label for="txtZip">Zip:</label>
                               <input type="text" id="txtZip" class="form-control">
                             </span>
                           </div>
                          <div class="form-inline">
                             <span class="form-group">
                               <label for="txtCountry">Country (if not U.S.):</label>
                               <input type="text" id="txtCountry" class="form-control">
                             </span>
                             <span class="form-group">
                               <label for="txtPhone">*Daytime Phone Number:</label>
                               <input type="text" id="txtPhone" class="form-control">
                             </span>
                             <span class="form-group">
                               <label for="txtFax">Fax Number:</label>
                               <input type="text" id="txtFax" class="form-control">
                             </span>
                             <span class="form-group">
                               <label for="txtEmail">*Email:</label>
                               <input type="email" id="txtEmail" class="form-control">
                             </span>
                          </div>
                         </div><!-- contact information div -->
                   </div>
                 </div>
               </div>
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">COURSE DELIVERY INFORMATION</a>
                   </h4>
                 </div>
                 <div id="collapse2" class="panel-collapse collapse">
                   <div class="panel-body">
                     <div id="course-delivery-information">
                       <div class="form-inline">
                         <label for="txtCourses">Select course(s):</label>
                         <select id="ms" name="selCourses" multiple="multiple">
                             <option value="OTHER">Other Courses or Subject Area- Please Indicate Below</option>
                             <% for(i = 0; i < courses.length; i++) { %>
            	  				<option value="<%= courses[i].id %>"><%= courses[i].title %> (<%= courses[i].code %>) - <%= courses[i].type %></option>
            					       <% } %>
                         </select>
                     </div>
                    <br>
                       <div class="form-inline">
                           <span class="form-group">
                             <label for="txtOtherCourse">Other Course or Subject:</label>
                             <input type="text" id="txtOtherCourse" class="form-control">
                           </span>
                           <span class="form-group">
                             <label for="txtStudentCount">*Approximate number of students:</label>
                             <input type="number" id="txtStudentCount" class="form-control">
                           </span>
                             <span class="form-group">
                               <label for="txtCustomization">If you require changes or customization for the course(s), please briefly describe the type of customization:</label>
                               <textarea id="txtCustomization" name="txtCustomization"></textarea>
                             </span>
                          <span class="form-group">
                               <label>If you desire a classroom, WHERE would you like the course(s) to be delivered?</label>
                               <br>
                               <input type="checkbox" id="chkGSLocations" value=""> Graduate School USA facilities in (which location(s)):
                               <select class="form-control" id="selGSLocations" style="display:none;">
              					          <option value="">Select a Location</option>
              					          <% for(i = 0; i < locations.length; i++) { %>
              					          	  <option value="<%= locations[i].city %>, <%= locations[i].state %>"><%= locations[i].city %>, <%= locations[i].state %></option>
              					          <% } %>
              					       </select>
                               <br>
                               <input type="checkbox" id="chkYourLocations" value=""> On-site in your facilities in (which location(s)):
                               <input type="text" id="txtYourLocations" style="display:none;">
                               <br>
                               <input type="checkbox" id="chkOtherLocations" value=""> Other facilities in (which location(s)):
                               <input type="text" id="txtOtherLocations" style="display:none;">
                               <br>
                            </span>
                       </div>
                       <div class="form-inline">
                         <span class="form-group">
                           <label for="txtDeliveryDate">WHEN would you like the course(s) to be delivered?</label>
                           <input type="date" id="txtDeliveryDate" name="txtDeliveryDate" placeholder="MM/DD/YYYY">
                         </span>

                       <span class="form-group">
                         <label for="radDeliveryMethod">HOW would you like the course(s) to be delivered? (select one)</label>
                         <br>
                         <form>
                         <input type="radio" id="radClassroom" name="radDeliveryMethod" value="Classroom"> Classroom
                         <br>
                         <input type="radio" id="radDistance" name="radDeliveryMethod" value="Distance Education"> Distance Education: (Web, CD-ROM, and other options)
                         <br>
                         <input type="radio" id="radBlended" name="radDeliveryMethod" value="Blended Learning"> Blended Learning (both classroom and distance education delivery methods)
                         </form>
                       </span>

                       <span class="form-group">
                           <label for="txtInstructor">If you have a PREFERRED INSTRUCTOR(S), please list the name(s)?</label>
                           <input type="text" id="txtInstructor" class="form-control">
                       </span>
                       </div>
                     </div>   <!-- END Course delivery -->
                   </div>
                 </div>
               </div>
               <div class="panel panel-default">
                 <div class="panel-heading">
                   <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">FORM SUBMISSION</a>
                   </h4>
                 </div>
                 <div id="collapse3" class="panel-collapse collapse">
                   <div class="panel-body">
                     <span class="form-group">
                       <label for="selHearAbout">How did you hear about training at Graduate School USA?</label>
                       <select id="selHearAbout" class="form-control">
                       	 <option id="N/A">Select One</option>
                       	 <% for (i=0; i< hearAboutTraining.length; i++) { %>
                       	   <option id="<%= hearAboutTraining[i].name %>"><%= hearAboutTraining[i].name %></option>
                       	 <% } %>
                       </select>
                     </span>
                     <span id="hearAboutOther" class="form-group" style="display:none;">
                     	<label for="txtHearAboutOther">Other:</label>
                     	<input type="text" id="txtHearAboutOther" class="form-control" />
                    </span>
                     <div class="comments">
                       <label for="txtComments">Comments or Questions:</label>
                       <br>
                       <textarea name="comments" id="txtComments" rows="8" cols="40"></textarea>
                     </div>
                      <br>
                     <div id="captcha">
                       <p>Insert Captcha Here:</p>
                     </div>
                      <button type="submit" id="submitForm" name="submitForm" value="submitForm">Submit</button>
                     <br>
                   </div>
                 </div>
               </div>
               </form> <!-- END Form -->
             </div>
          </div>
          <!-- END Accordion Container -->

          <div class="col-lg-4">
          <h2>Related links</h2>
    </div><!-- END  Row -->
  </div> <!-- END Container  -->
  </div><!-- END Container  -->
  <% include ../../partials/chat %>
  <% include ../../partials/footer %>
  <script type="text/javascript" src="/javascripts/onsite_inquiry.js"></script>
  <script>
      $(function() {
          $('#ms').change(function() {
          }).multipleSelect({
              width: '100%'
          });
      });
  </script>
</body>
</html>
