<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= title %></title>
    <meta charset="utf-8">
    <% if (seoDescription) { %><meta name="description" content="<%= seoDescription %>"><% } %>
    <% if (seoKeywords) { %><meta name="keywords" content="<%= seoKeywords %>"><% } %>
    <% include ../partials/head %>
    <script type="text/javascript" src="/javascripts/generic_detail.js"></script>
    <link rel="stylesheet" href="/stylesheets/generic_detail.css">
  </head>
  <body>
    <% include ../partials/header %>
    <div id="main-container" class="container padding15">
        <div class="row">
          <div class="col-lg-9 col-md-9">
            <% if (imageUrl) { %>
              <img src="<%= imageUrl %>" style="width:100%;" />
            <% } %>
            <h1>
              <% if (intro) { %>
                <%- intro  %>
              <%  } %>
            </h1>
            <h2>
              <% if (subIntro) { %>
                <%- subIntro  %>
              <%  } %>
            </h2>
            <% for (var i = 0; i < sections.length; i++) { %>
              <% if (sections[i] && (sections[i].title || sections[i].content || sections[i].snippet)) { %>

                <section>
                  <% if (sections[i].collapse && sections[i].title){ %>
                    <a href="#<%= i %>" class="expand-section accordion-toggle" data-toggle="collapse">
                      <span id="Section<%= i+1 %>" class="glyphicon glyphicon-plus-sign"></span><%= sections[i].title %></a>
                          <article id="<%= i %>" class="collapse nested">
                            <% if (sections[i].snippet) { %>
                              <%- markdown(sections[i].snippet || '') %>
                            <%  } %>
                            <% if (sections[i].content) { %>
                              <%- markdown(sections[i].content || '') %>
                            <%  } %>
                          </article>
                     <% } else if (sections[i].title) { %>
                       <h2><%= sections[i].title %></h2><span id="Section<%= i+1 %>"></span>
                       <article id="<%= i %>" class="genericArticle">
                         <% if (sections[i].snippet) { %>
                           <%- markdown(sections[i].snippet || '') %>
                         <%  } %>
                         <% if (sections[i].content) { %>
                           <%- markdown(sections[i].content || '') %>
                         <%  } %>
                       </article>
                  <%   } else { %>
                       <span id="Section<%= i+1 %>"></span>
                       <article id="<%= i %>" class="genericArticle">
                         <% if (sections[i].snippet) { %>
                           <%- markdown(sections[i].snippet || '') %>
                         <%  } %>
                         <% if (sections[i].content) { %>
                           <%- markdown(sections[i].content || '') %>
                         <%  } %>
                       </article>
                  <%  } %>
              <%  } %>
                </section>

              <% } %>
          </div>
          <% if (relatedLinks && relatedLinks.length > 0) { %>
          <div class="col-lg-3 col-md-3" id="sidebar">
            <div class="spacer mobile"></div>
            <div class="panel-group">
              <div class="panel panel-default related-links">
            <div class="panel-heading related-links">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#related-links">Related links</a>
                  </h4>
            </div>
            <div id="related-links" class="panel-collapse collapse in">
              <div class="panel-body">
                <ul>
                <% relatedLinks.forEach(function(link) { %>
                  <li><a href="<%= link.url %>"><%= link.name %></a></li>
                  <hr>
                <% }); %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        </div>
          <% } %>
        </div> <!-- END row -->
      </div> <!-- END container -->
      <!-- START modal popup container -->
      <div class="modal fade" id="snippetModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="modalLabel"></h4>
            </div>
            <div class="modal-body" id="modalBody"></div>
            <div class="modal-footer">
              <a href="#" class="blueish" data-dismiss="modal">Close</a>
            </div>
          </div>
        </div>
      </div><!-- END modal popup container -->
<script type="text/javascript">
    $('.collapse').on('shown.bs.collapse', function(){
      $(this).parent().find(".glyphicon-plus-sign").removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign");
    }).on('hidden.bs.collapse', function(){
      $(this).parent().find(".glyphicon-minus-sign").removeClass("glyphicon-minus-sign").addClass("glyphicon-plus-sign");
    });
</script>

      <% include ../partials/chat %>
      <% include ../partials/footer %>
  </body>
</html>
