<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <% include ../partials/head %>
    <script type="text/javascript" src="/javascripts/generic_detail.js"></script>
    <link rel="stylesheet" href="/stylesheets/generic_detail.css">
  </head>
  <body>
    <% include ../partials/header %>
    <div id="main-container" class="container">
        <div class="row">
          <div class="col-lg-9 col-md-9 ">
            <% if (imageUrl) { %>
              <img src="<%= imageUrl %>" style="width:100%;" />
            <% } %>
            <h1><%= intro %></h1>
            <h2><%= subIntro %></h2>
            <% for (var i = 0; i < sections.length; i++) { %>
              <% if (sections[i]) { %>
                  <section>
                    <% if (sections[i].title) { %>
                  
                      <% if (sections[i].collapse) { %>
                        <a href="#<%= i %>" class="btn btn-info" data-toggle="collapse"><%= sections[i].title %></a>
                        <div id="<%= i %>" class="collapse">
                          <%- sections[i].content %>
                        </div>
                        <% } else { %>
                        <div id="<%= i %>" class="genericArticle">
                          <%- sections[i].content %>
                        </div>
                    <% } } %>

                  </section>
                  <!-- <section>
                    <% if (sections[i].title) { %>
                      <h2><%= sections[i].title %></h2>
                      <% if (sections[i].collapse) { %>[EXPAND/COLLAPSE]<% } %>
                    <% } %>
                    <article id="<%= i %>" class="genericArticle">
                      <%- sections[i].content %>
                    </article>
                  </section> -->
              <% } %>
            <%  } %>
          </div>
          <% if (relatedLinks && relatedLinks.length > 0) { %>
          <div class="col-lg-3 col-md-3" id="sidebar">
            <h2>Related links</h2>
            <ul>
            <% relatedLinks.forEach(function(link) { %>
              <li><a href="<%= link.url %>"><%= link.name %></a></li>
            <% }); %>
            </ul>
          </div>
          <% } %>
        </div>
      </div>

      <% include ../partials/chat %>
      <% include ../partials/footer %>
  </body>
</html>
