<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= content.title %></title>
    <% include ../../partials/head %>
    <script type="text/javascript" src="/javascripts/manage/user/create.js"></script>
  </head>
  <body>
    <% include ../../partials/header %>
    <header>
      <div id="container" class="container">
        <div class="loading" style="display:none;"></div>
        <div id="outer" class="col-lg-12 col-md-12 col-sm-12 form-fix padding20">

          <div id="gs-form" class="col-lg-9 col-md-9 col-sm-9">
              <!-- alert - error -->
              <div id="gs-form-alert-error" class="alert alert-danger" role="alert" style="display:none;">
                <span id="gs-form-alert-remove" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </div>
              <!-- alert - success -->
              <div id="gs-form-alert-success" class="alert alert-success" role="alert" style="display:none;">
                  <p><strong>Thank you for setting up your Graduate School USA account!</strong></p>
              </div>
              <div id="create-user">
                <form id="create-user-form" role="form">
                  <div id="form-wrap">
                    <fieldset id="personal-info">
                      <legend>Personal information</legend>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="firstName">*First Name</label>
                          <input type="text" id="firstName" class="form-control" tabindex="10">
                        </span>
                        <span class="form-group">
                          <label for="middleName">Middle Name</label>
                          <input type="text" id="middleName" class="form-control" tabindex="11">
                        </span>
                        <span class="form-group">
                          <label for="lastName">*Last Name</label>
                          <input type="text" id="lastName" class="form-control" tabindex="12">
                        </span>
                      </div>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="dateBirth">Date of birth</label><br>
                          <span class="form-group">
                            <select id="birthMonth" name="birthMonth" class="form-control width-third" tabindex="13">
                              <option value='' default selected>Month</option>
                              <% for (var i = 1; i <= 12; i++) { %>
                              <option value='<%= i %>'><%= i %> </option>
                              <% } %>
                            </select>
                          </span>
                          <span class="form-group">
                            <select id="birthDay" name="birthDay" class="form-control width-third" tabindex="14">
                              <option value='' default selected/>Day</option>
                              <% for (var i = 1; i <= 31; i++) { %>
                              <option value='<%= i %>'><%= i %> </option>
                              <% } %>
                            </select>
                          </span>
                          <span class="form-group">
                              <input type="text" id="birthYear" class="form-control width-third" size="4" maxlength="4" tabindex="15" placeholder="Year">
                          </span>
                        </span>
                        <span class="form-group">
                          <label for="lastFourSSN">Last 4 digits of SSN</label>
                          <input type="password" id="lastFourSSN" class="form-control width-half" size="4" maxlength="4" tabindex="16" data-toggle="tooltip" title="Please enter the last four digits of your social security number">
                        </span>
                      </div>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="password">*Password</label>
                          <input type="password" id="password" class="form-control" tabindex="17">
                        </span>
                        <span class="form-group">
                          <label for="confirmPassword">*Confirm Password</label>
                          <input type="password" id="confirmPassword" class="form-control" tabindex="18">
                        </span>
                      </div>
                    </fieldset> <!-- END personal-info -->
                    <fieldset id="contact-info">
                      <legend>Contact Information</legend>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="street">*Street Address</label>
                          <input type="text" id="street" class="form-control" tabindex="19">
                        </span>
                        <span class="form-group">
                          <label for="suite">Suite, Mail Stop</label>
                          <input type="text" id="suite" class="form-control width-half" tabindex="20">
                        </span>
                      </div>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="city">*City</label>
                          <input type="text" id="city" class="form-control" tabindex="21">
                        </span>
                        <span class="form-group">
                          <label for="state">*State</label>
                      <!--nutch_noindex-->
                          <select id="state" class="form-control width-half" tabindex="22">
                            <option value="">Select One</option>
                            <% for (i = 0; i < states.length; i++) { %>
                              <option value="<%= states[i].abbreviation %>"><%= states[i].name %></option>
                            <% } %>
                          </select>
                      <!--/nutch_noindex-->
                        </span>
                        <span class="form-group">
                          <label for="zip">*Zip</label>
                          <input type="text" id="zip" class="form-control width-half" tabindex="23">
                        </span>
                      </div>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="email">*Email</label>
                          <input type="email" id="email" class="form-control" size="50" tabindex="24">
                        </span>
                        <span class="form-group">
                          <label for="phone">*Daytime Phone Number</label>
                          <input type="text" id="phone" class="form-control" tabindex="25">
                        </span>
                      </div>
                    </fieldset> <!-- END contact-info -->
                    <div class="spacer10"></div>
                    <button id="create-user-form-submit" type="submit" tabindex="26" onclick="window.location.href='#gs-form'">Submit</button>
                  </div> <!-- END form-wrap -->
                </form> <!-- END create-user-form -->
            </div>  <!-- END create-user -->
          </div> <!--END gs-form-->

          <% if (offeringId) { %>
            <input type=hidden id="offeringId" name="offeringId" value="<%= offeringId %>"/>
            <div id="course-information" class="col-lg-3 col-md-3 col-sm-3 outer-border">
              <fieldset>
                <legend>Course Information</legend>
                <div>Session ID <%= offeringId ? offeringId : 'Oops, no course offering provided' %></div>
                <div>TODO: create a session API to retrieve course/session info by session ID</div>
              </fieldset>
            </div> <!-- END course-information -->
          <% } %>

        </div> <!--END outer-->
      </div> <!--END container-->
    </header>
    <!-- Footer -->
    <% include ../../partials/footer %>
    <!-- END Footer  -->
    <!-- Chat  -->
    <% include ../../partials/chat %>
    <!-- END of Chat  -->
  </body>
</html>
