<!DOCTYPE html>
<html>
  <head>
    <title> Graduate School USA | <%= title %></title>
    <% include ../../partials/head %>
    <script type="text/javascript" src="/javascripts/manage/user/create.js"></script>
  </head>
  <body>
    <% include ../../partials/header %>
      <div id="container" class="container">
        <div class="loading" style="display:none;"></div>
        <div id="outer" class="col-lg-12 col-md-12 col-sm-12 form-fix padding20">

          <div id="toggle-already-have-account-section" class="row" style="display:none;">
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 center">
              <a id="toggle-already-have-account" href="#outer" tabindex="11">Already have an account?</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
          </div>

          <!-- Login Form Secion -->
          <div id="login-section" class="row">
            <% if (loginError) { %>
            <div id="gs-loginForm-alert-error" class="alert alert-danger" role="alert" >
                <span id="gs-loginForm-alert-remove" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"> </span>
                <p><%= loginError %></p>
              </div>
            </div>
            <% } %>
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
            <div id="login" class="col-lg-4 col-md-4 col-sm-4">
              <form id="login-form" role="form" method="post" action="/manage/user/login">
                <div id="form-wrap">
                  <div>
                    <% if (sessionId) { %>
                      <input type=hidden id="sessionId" name="sessionId" value="<%= sessionId %>"/>
                    <% } %>
                    <span class="form-group">
                      <label for="username">Email</label>
                      <input type="email" id="username" name="username" class="form-control" size="50" tabindex="12">
                      <div class="spacer10"></div>
                      <label for="credentials">Password</label>
                      <input type="password" id="credentials" name="password" class="form-control" tabindex="13">
                    </span>
                  </div>
                  <div class="spacer10"></div>
                  <div id="buttons" class="center">
                    <button id="login-submit" type="submit" tabindex="14">Log In</button>
                  </div>
                </div> <!-- END form-wrap -->
              </form> <!-- END create-user-form -->
            </div> <!-- END login -->
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
          </div> <!-- END login-section -->

          <div class="spacer25"></div>

          <div id="toggle-create-account-section" class="row">
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 center">
              <a id="toggle-create-account" href="#outer" tabindex="15">Need an account?</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
          </div>

          <div id="create-account-section" class="row" style="display:none;">
            <div id="gs-form">
              <!-- alert - error -->
              <div id="gs-form-alert-error" class="alert alert-danger" role="alert" style="display:none;">
                <span id="gs-form-alert-remove" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
              </div>
              <!-- alert - success -->
              <div id="gs-form-alert-success" class="alert alert-success" role="alert" style="display:none;">
                  <p><strong>Thank you for setting up your Graduate School USA account!</strong></p>
              </div>
              <div id="create-user">
                <form id="create-user-form" role="form">
                  <% if (sessionId) { %>
                    <input type=hidden id="sessionId" name="sessionId" value="<%= sessionId %>"/>
                  <% } %>
                  <div id="form-wrap">
                    <div id="personal-info">
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="firstName">*First Name</label>
                          <input type="text" id="firstName" class="form-control" tabindex="16">
                        </span>
                        <span class="form-group">
                          <label for="middleName">Middle Name</label>
                          <input type="text" id="middleName" class="form-control" tabindex="17">
                        </span>
                        <span class="form-group">
                          <label for="lastName">*Last Name</label>
                          <input type="text" id="lastName" class="form-control" tabindex="18">
                        </span>
                      </div>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="dateBirth">Date of birth</label><br>
                          <span class="form-group">
                            <select id="birthMonth" name="birthMonth" class="form-control width-third" tabindex="19">
                              <option value='' default selected>Month</option>
                              <% for (var i = 1; i <= 12; i++) { %>
                              <option value='<%= i %>'><%= i %> </option>
                              <% } %>
                            </select>
                          </span>
                          <span class="form-group">
                            <select id="birthDay" name="birthDay" class="form-control width-third" tabindex="20">
                              <option value='' default selected/>Day</option>
                              <% for (var i = 1; i <= 31; i++) { %>
                              <option value='<%= i %>'><%= i %> </option>
                              <% } %>
                            </select>
                          </span>
                          <span class="form-group">
                              <input type="text" id="birthYear" class="form-control width-third" size="4" maxlength="4" tabindex="21" placeholder="Year">
                          </span>
                        </span>
                        <span class="form-group">
                          <label for="lastFourSSN">Last 4 digits of SSN</label>
                          <input type="password" id="lastFourSSN" class="form-control width-half" size="4" maxlength="4" tabindex="22" data-toggle="tooltip" title="Please enter the last four digits of your social security number">
                        </span>
                      </div>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="password">*Password</label>
                          <input type="password" id="password" class="form-control" tabindex="23">
                        </span>
                        <span class="form-group">
                          <label for="confirmPassword">*Confirm Password</label>
                          <input type="password" id="confirmPassword" class="form-control" tabindex="24">
                        </span>
                      </div>

                      <div class="form-inline">
                        <span class="form-group">
                          <label for="street">*Street Address</label>
                          <input type="text" id="street" class="form-control" tabindex="25">
                        </span>
                        <span class="form-group">
                          <label for="suite">Suite, Mail Stop</label>
                          <input type="text" id="suite" class="form-control width-half" tabindex="26">
                        </span>
                      </div>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="city">*City</label>
                          <input type="text" id="city" class="form-control" tabindex="27">
                        </span>
                        <span class="form-group">
                          <label for="state">*State</label>
                      <!--nutch_noindex-->
                          <select id="state" class="form-control width-half" tabindex="28">
                            <option value="">Select One</option>
                            <% for (i = 0; i < states.length; i++) { %>
                              <option value="<%= states[i].abbreviation %>"><%= states[i].name %></option>
                            <% } %>
                          </select>
                      <!--/nutch_noindex-->
                        </span>
                        <span class="form-group">
                          <label for="zip">*Zip</label>
                          <input type="text" id="zip" class="form-control width-half" tabindex="29">
                        </span>
                      </div>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="email">*Email</label>
                          <input type="email" id="email" class="form-control" size="50" tabindex="30">
                        </span>
                        <span class="form-group">
                          <label for="phone">*Daytime Phone Number</label>
                          <input type="text" id="phone" class="form-control" tabindex="31">
                        </span>
                      </div>
                    </div>
                    <div class="spacer10"></div>
                    <div id="buttons">
                      <button id="create-user-form-submit" type="submit" tabindex="32" onclick="window.location.href='#gs-form'">Submit</button>
                    </div>
                  </div> <!-- END form-wrap -->
                </form> <!-- END create-user-form -->
              </div>  <!-- END create-user -->
            </div> <!--END gs-form-->
          </div> <!-- END create-account-section -->

        </div> <!--END outer-->
      </div> <!--END container-->
    <!-- Footer -->
    <% include ../../partials/footer %>
    <!-- END Footer  -->
    <!-- Chat  -->
    <% include ../../partials/chat %>
    <!-- END of Chat  -->
  </body>
</html>
