<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <% include ../partials/head %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <link rel="stylesheet" href="/stylesheets/onsite_inquiry.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/library/spinners.css">
  <link rel="stylesheet" href="/stylesheets/library/jquery-ui.css">
  <script src="/javascripts/library/jquery-ui.min.js"></script>
</head>
<body>
  <% include ../partials/header %>
  <!-- Title Section -->
  <div class="container-fluid title">
    <div class="container">
      <div class="col-lg-10">
        <h1><%= title %></h1>
        <p> <img src="../images/homepage.png" alt="" /> Home / Forms </p>
      </div>
      <div class="col-lg-2">
        <div class="util">
          <ul>
            <li><a href="#"><img src="../images/print.png" alt="" /></a></li>
            <li><a href="#"><img src="../images/email-me.png" alt="" /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END Title Section -->
  <div class="container">
    <div class="container">
      <div class="loading" style="display:none;"></div>
      <div class="row">
        <div class="col-lg-8">

          <!-- Accordion Container -->
          <div id="alertError" class="alert alert-danger" role="alert" style="display:none;">
            <span id="removeAlert" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
          </div>
          <div id="alertSuccess" class="alert alert-sucess" role="alert" style="display:none;">
            <div><b>Thank you for your interest in Graduate School USA.</b></div>
            <div>Someone will be contacting you as soon as possible.</div>
          </div>
          <form>
            <div class="panel-group" id="accordion">
              <div class="form-inline">
                <div class="form-group"><p><%= topParagraph %></p></div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a id="collapse1Link" data-toggle="collapse" data-parent="#accordion" href="#collapse1">CONTACT INFORMATION</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div id="contact-information">
                      <div class="form-inline">
                        <span class="form-group">
                         <select id="prefix" class="form-control">
                           <option value="">Prefix</option>
                           <option value="Mr.">Mr.</option>
                           <option value="Mrs.">Mrs.</option>
                           <option value="Miss">Miss</option>
                           <option value="Ms.">Ms.</option>
                           <option value="Dr.">Dr.</option>
                         </select>
                        </span>
                        <span class="form-group">
                          <label for="txtFirstName">*First Name</label>
                          <input type="text" id="txtFirstName" class="form-control" tabindex="1">
                        </span>
                        <span class="form-group">
                          <label for="txtLastName">*Last Name</label>
                          <input type="text" id="txtLastName" class="form-control"  tabindex="2">
                        </span>
                      </div>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="txtOrganizaiton">*Organization</label>
                          <input type="text" id="txtOrganizaiton" class="form-control" size="50"  tabindex="3">
                        </span>
                      </div>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="txtStreet">Street Address</label>
                          <input type="text" id="txtStreet" class="form-control"  tabindex="4">
                        </span>
                        <span class="form-group">
                          <label for="txtSuite">Suite, Mail Stop</label>
                          <input type="text" id="txtSuite" class="form-control"  tabindex="5">
                        </span>
                      </div>
                      <div class="form-inline">
                        <span class="form-group">
                          <label for="txtCity">City</label>
                          <input type="text" id="txtCity" class="form-control"  tabindex="6">
                        </span>
                        <span class="form-group">
                          <label for="selState">State</label>
                          <select id="selState" class="form-control"  tabindex="7">
                            <option value="">Select One</option>
                            <% for (i=0; i < states.length; i++) { %>
                              <option value="<%= states[i].abbreviation %>"><%= states[i].name %></option>
                              <% } %>
                            </select>
                          </span>
                          <span class="form-group">
                            <label for="txtZip">Zip</label>
                            <input type="text" id="txtZip" class="form-control"  tabindex="8">
                          </span>
                        </div>
                        <div class="form-inline">
                          <span class="form-group">
                            <label for="txtCountry">Country (if not U.S.)</label>
                            <input type="text" id="txtCountry" class="form-control"  tabindex="9">
                          </span>
                        </div>
                        <div class="form-inline">
                          <span class="form-group">
                            <label for="txtPhone">*Daytime Phone Number</label>
                            <input type="text" id="txtPhone" class="form-control"  tabindex="10">
                          </span>
                          <span class="form-group">
                            <label for="txtFax">Fax Number</label>
                            <input type="text" id="txtFax" class="form-control"  tabindex="11">
                          </span>
                        </div>
                        <div class="form-inline">
                          <span class="form-group">
                            <label for="txtEmail">*Email</label>
                            <input type="email" id="txtEmail" class="form-control" size="50"  tabindex="12">
                          </span>
                        </div>
                      </div><!-- contact information div -->
                    </div>
                    <button type="button" name="toCDI" id="toCDIButton"  tabindex="13" class="next-button">Next</button>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a id="collapse2Link" data-toggle="collapse" data-parent="#accordion" href="#collapse2">COURSE DELIVERY INFORMATION</a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div id="course-delivery-information">
                        <div class="form-inline">
                          <label for="txtCourses">*Choose Course(s)</label>
                          <select id="ms" name="selCourses" multiple="multiple"  tabindex="14">
                            <option value="OTHER">Other Courses or Subject Area- Please Indicate Below</option>
                            <% for(i = 0; i < courses.length; i++) { %>
                              <option value="<%= courses[i].id + " -- "+courses[i].title %>"><%= courses[i].title %> (<%= courses[i].code %>) - <%= courses[i].type %></option>
                              <% } %>
                            </select>
                          </div>
                          <br>
                          <div class="form-inline">
                            <span class="form-group">
                              <label for="txtOtherCourse" style="display:none;">Other Course or Subject</label>
                              <input type="text" id="txtOtherCourse" class="form-control"  tabindex="15" style="display:none;">
                            </span>
                            <span class="form-group">
                              <label for="txtStudentCount">*Approximate number of students</label>
                              <input type="text" pattern="^[0-9]*$" id="txtStudentCount" class="form-control" tabindex="16">
                            </span>
                            <span class="form-group">
                              <label for="txtCustomization">If you require changes or customization for the course(s), please briefly describe the type of customization</label>
                              <textarea id="txtCustomization" name="txtCustomization" style="width: 100%;" tabindex="17"></textarea>
                            </span>
                            <span id="checkboxes" class="form-group">
                              <label>If you desire a classroom, WHERE would you like the course(s) to be delivered?</label>
                              <br>
                              <input type="checkbox" id="chkGSLocations" value="" tabindex="18"> Graduate School USA facilities in (which location(s))
                              <select class="form-control" id="selGSLocations" style="display:none;" tabindex="19">
                                <option value="">Select One</option>
                                <% for(i = 0; i < locations.length; i++) { %>
                                  <option value="<%= locations[i].city %>, <%= locations[i].state %>"><%= locations[i].city %>, <%= locations[i].state %></option>
                                  <% } %>
                                </select>
                                <br>
                                <input type="checkbox" id="chkYourLocations" value="" tabindex="20"> On-site in your facilities in (which location(s))
                                <input type="text" id="txtYourLocations" style="display:none;">
                                <br>
                                <input type="checkbox" id="chkOtherLocations" value="" tabindex="21"> Other facilities in (which location(s))
                                <input type="text" id="txtOtherLocations" style="display:none;">
                                <br>
                              </span>
                            </div>
                            <div class="form-inline">
                              <span class="form-group">
                                <label for="txtDeliveryDate">WHEN would you like the course(s) to be delivered?</label>
                                <input type="date" id="txtDeliveryDate"  name="txtDeliveryDate" placeholder="MM/DD/YYYY" tabindex="22">

                              </span>

                              <span class="form-group">
                                <label for="radDeliveryMethod">HOW would you like the course(s) to be delivered? (select one)</label>
                                <br>
                                <form>
                                  <input type="radio" id="radClassroom" name="radDeliveryMethod" value="Classroom" tabindex="23"> Classroom
                                  <br>
                                  <input type="radio" id="radDistance" name="radDeliveryMethod" value="Distance Education" tabindex="24"> Distance Education (Web, CD-ROM, and other options)
                                  <br>
                                  <input type="radio" id="radBlended" name="radDeliveryMethod" value="Blended Learning" tabindex="25"> Blended Learning (both classroom and distance education delivery methods)
                                </form>
                              </span>

                              <span class="form-group">
                                <label for="txtInstructor">If you have a PREFERRED INSTRUCTOR(S), please list the name(s)?</label>
                                <input type="text" id="txtInstructor" class="form-control" tabindex="26">
                              </span>

                              <span class="form-group">
                                <input type="checkbox" id="chkHelpWithEnrollment" value="" tabindex="27"> <label for="chkHelpWithEnrollment"> Would like our help with building enrollment?</label>
                              </span>
                            </div>
                          </div>   <!-- END Course delivery -->
                        </div>
                        <button type="button" name="toCDI" id="toFormSubButton" tabindex="28" class="next-button">Next</button>
                        <button type="button" name="toContact" id="toContactButton" tabindex="29">Previous</button>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a id="collapse3Link" data-toggle="collapse" data-parent="#accordion" href="#collapse3" tabindex="30">FORM SUBMISSION</a>
                        </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                          <span class="form-group">
                            <label for="selHearAbout">*How did you hear about training at Graduate School USA?</label>
                            <select id="selHearAbout" class="form-control">
                              <option id="">Select One</option>
                              <% for (i=0; i< hearAboutTraining.length; i++) { %>
                                <option id="<%= hearAboutTraining[i].name %>"><%= hearAboutTraining[i].name %></option>
                                <% } %>
                              </select>
                            </span>
                            <span id="hearAboutOther" class="form-group" style="display:none;">
                              <label for="txtHearAboutOther">Other</label>
                              <input type="text" id="txtHearAboutOther" class="form-control" tabindex="31"/>
                            </span>
                            <div class="comments">
                              <label for="txtComments">Comments or Questions</label>
                              <br>
                              <textarea name="comments" id="txtComments" rows="8" style="width: 100%;" tabindex="32"></textarea>
                            </div>
                            <br>
                            <div id="onSiteInguiryCaptcha">
                              <div class="g-recaptcha" data-sitekey="6Lfj4AsTAAAAAB0NCpQUY3AEeoisB-iNUvzbFsbh" tabindex="33"></div>
                            </div>
                            <br>
                            <button type="submit" id="submitForm" name="submitForm" value="submitForm" tabindex="34">Submit Request</button>
                            <button type="button" name="toCDI" id="backToCDIButton" tabindex="35">Previous</button>
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form> <!-- END Form -->
                </div>
                <!-- END Accordion Container -->

                <% if (relatedLinks && relatedLinks.length > 0) { %>
                <div class="col-lg-4">
                  <h2>Related links</h2>
                  <ul>
                  <% relatedLinks.forEach(function(link) { %>
                    <li><a href="<%= link.url %>"><%= link.name %></a></li>
                  <% }); %>
                  </ul>
                </div>
                <% } %>
              </div><!-- END  Row -->
            </div> <!-- END Container  -->
          </div><!-- END Container  -->
          <% include ../partials/chat %>
          <% include ../partials/footer %>
          <script type="text/javascript" src="/javascripts/onsite-inquiry/onsite_inquiry.js"></script>
          <script type="text/javascript" src="/javascripts/onsite-inquiry/multi-select.js"></script>
          <script>
          $(function() {
            $('#ms').change(function() {
            }).multipleSelect({
              width: '100%'
            });
          });
          </script>
          <script>
          $(function() {
            $( "#txtDeliveryDate" ).datepicker();
          });
          </script>

        </body>
        </html>
