<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <% include ../partials/head %>
    <!-- Style fix for Link color - to be removed after -->
    <style media="screen">
      a.readmore:link,
      a.readmore:visited {
        color: #FFF;
        background-position: 0px 15px;
      }

      a.readmore:hover,
      a.readmore:active {
        color: #FFF;
        background-position: 0px 15px;
        border: 1px solid transparent;
      }
    </style>
</head>

<body>
  <% include ../partials/header %>
  <div class="container">
      <div class="col-md-9">
        <h1>
          <%= title %>
        </h1>

        <p>
          <span class="glyphicon glyphicon-time"></span>
          Posted on <%= date.date('MMM DD, YYYY') %>
        </p>
        <p>
          <%- body %>
        </p>
        <p>
          <% if (featureImageURL !="") { %>
            <img src="<%=featureImageURL %>" alt=""  class=""/>
          <%}%>
        </p>
        <p>
          <a class="btn btn-primary readmore" href='/news'>
            <span class="glyphicon glyphicon-chevron-left"></span>Back to News
          </a>
        </p>
        <br/>
      </div>
    </div>
    <!-- /end Container -->
    <!-- END Page Content -->
    <!-- Include Footer Here! -->
    <% include ../partials/footer %>
  </div>
  <!-- END Container-fluid -->
  <% include ../partials/chat %>
    <!-- END of chat  -->
</body>

</html>
