<!DOCTYPE html>
<html>
<head>
  <title> Graduate School USA | Recent News Entries</title>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <div class="container padding15">
      <div class="row">
        <!-- Blog Entries Column -->
        <div id="news" class="col-md-9">
          <!-- First Blog Post -->
          <% for (var i = 0; i < posts.length; i++) { %>
            <h3><a href='/news/<%= posts[i].fields.slug %>'><%= posts[i].fields.title %></a></h3>
            <p class="date-posted"><span class="glyphicon glyphicon-time"></span> Posted on <%= posts[i].fields.date.date('MMM DD, YYYY') %></p>
              <p><%= prune(striptags(posts[i].fields.body), 300, "...") %></p>
              <a class="blueish" href='/news/<%= posts[i].fields.slug %>'>Read More <span class="glyphicon-custom glyphicon-triangle-right"></span></a>
              <div class="spacer25"></div>
              <hr class="divider">
          <% } %>
        </div> <!-- END Blog Entries Column -->
      </div> <!-- END Row -->
  </div> <!-- END Container -->
  <!-- Footer -->
  <% include ../partials/footer %>
  <!-- END Footer -->
  <!-- Chat  -->
  <% include ../partials/chat %>
  <!-- END of chat  -->
</body>
</html>
